/*

Theme Name: Amanda Karoline
Theme URI: http://amandakaroline.com.br
Author: HC Desenvolvimentos
Author URI: http://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: amandakaroline
Tags: Modelo, Maquiagem, Fotos, Portfólio, Preto.

--------------------------------------------
ESTRUTURAÇÃO BASE (HC DESENVOLVIMENTOS Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA
*/
/*VARIÁVEIS*/
/*SPOT*/
@import url("css/woocomerceCorrecoes.css");

/*MENU DE TOPO*/
@import url("css/topo.css");

/*MENU DE CATEGORIA*/
@import url("css/menuCategoria.css");

/*MENU DE CATEGORIA*/
@import url("css/menuCategoria.css");

/*CARROSSEL DE DETSAQUE*/
@import url("css/carrosselDestaque.css");

/* MOSAICO A*/
@import url("css/mosaico_A.css");

/* BANNER BENEFICIOS*/
@import url("css/bannerBeneficios.css");

/*BANNER DESTAQUE*/
@import url("css/bannerDestaque.css");

/*POSTS BLOG*/
@import url("css/carrosselPostsBlog.css");

/*CARROSSEL DE PARCEIROS*/
@import url("css/carrosselParceria.css");

/*PÁGINA DE PRIVACIDADE*/
@import url("css/pgPrivacidade.css");

/*PÁGINA QUEM SOMOS*/
@import url("css/pgQuemSomos.css");

/*PÁGINA DE MARCAS*/
@import url("css/pgMarcas.css");

/*CARROSSEL DE PARCEIROS*/
@import url("css/footer.css");

/*SPOT*/
@import url("css/spotProduto.css");

/*PÁGINA DO PRODUTO*/
@import url("css/pg-produto.css");

/*SIDEBAR CATEGORIA*/
@import url("css/sidebarCategoria.css");

/*INSTAGRAM*/
@import url("css/instagram.css");

/*PÁGINA DE CONTATO*/
@import url("css/pg-contato.css");






:root{
	
	/* CORES */
	--rosaPrincipal:#f28383;
	--pretoPrincipal:#222222;
	--cinzaPrincipal:#777373;
	--hoverBtnComprar:#e26767;
	--rosaHoverBotao:#f28383c9;


	/*FONTS*/
	--fontRobotoCondedesed:'Roboto Condensed', sans-serif;
	--fontRobotoSlab:'Roboto Slab', serif;
	--fontReleway:'Raleway', sans-serif;
	--fontOswald:'Oswald', sans-serif;


	/*COMO USAR AS VARIÁVEIS*
		color: var(--fontreleway);
	*/

	/*TAMANHO SPOT*/
	--fontSizepPreco:30px;
	--fontSizepPrecoResponsivo:15px;
	--fontSizepTitulo:19px;
	--fontSizeTituloResponsivo:13.5px;
	--fontSizeParcelamento:19px;
	--fontSizeBtnComprar:25px;
	--fontSizeTituloResponsivo:13.5px;


}

/*ESTILOS GERAIS*/
.containerFull{
	width:80%;
	margin: 0 auto;
}

/*BTN COMPRA*/
.btnComprar{
	background: var(--rosaPrincipal);
	position: relative;
	width: 100%;
	max-width: 225px;
	margin: auto;

}
	.btnComprar:before{
		background: url(img/imagem-btnComprar.png);
		display: block;
		content: "";
		width: 19px;
		height: 30px;
		position: absolute;
		right: 30px;
		background-size: cover!important;
		background-position: center!important;
		top: 9px;
		transition: All .5s ease;
		-webkit-transition: All .5s ease;
		-moz-transition: All .5s ease;
		-o-transition: All .5s ease;
	}
		.btnComprar:hover:before{
			background: url(img/iconComprarHover.png);
			transition:All .5s ease;
			-webkit-transition:All .5s ease;
			-moz-transition:All .5s ease;
			-o-transition:All .5s ease;
		}
	.btnComprar:hover{
		background: var(--hoverBtnComprar);
	}
	.btnComprar input[type="submit"], .btnComprar  a:first-child{
		background: transparent!important;
		border: none!important;
		color: #fff!important;
		font-family: var(--fontOswald);
		font-weight: 100!important;
		font-size: var(--fontSizeBtnComprar)!important;
		text-transform: uppercase;
		padding: 10px 0!important;
		display: block!important;
		width: 100%;
		outline:none;
	}
	.btnComprar  a:first-child::after{
		display: none!important;
	}
	.btnComprar a.added_to_cart{
		padding-top: .5em;
		display: inline-block;
		position: absolute;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
		text-decoration: none;
		text-transform: uppercase;
		font-family: var(--fontOswald);
		background: #e26767;
		margin-top: 10px;
		padding: 4px;
		width: 100%;
		color: #fff;
		font-size: 15px;
		font-weight: 400;
		letter-spacing: 1px;
	}

.single-product .entry-title{
	display: none;
}
.single-product #secondary{
	display: none;
}
.entry-title{
	display: none;
}
.travarScroll{
	overflow: hidden;
}

/* EXTRAS */
	
	.dgwt-wcas-no-submit .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input {
		padding: 25px 10px 25px 50px!important;
		text-align: left;
		padding-right: 40px!important;
		max-height: 28px;
		border-radius: 8px;
		border: 2px solid #222;
	}
	.dgwt-wcas-preloader{
		position: absolute;
		left: 0;
	}
	.dgwt-wcas-no-submit .dgwt-wcas-ico-magnifier {
		padding: 9px!important;
		/* background: #000!important; */
		color: #222!important;
		max-width: 35px!important;
		width: 35px!important;
		height: 35px!important;
		border-radius: 100%!important;
		max-height: 35px!important;
		left: 0;
		right: 0;
		/* border: 1px solid #fff!important; */
		opacity: 1!important;
		fill: #222!important;
	}
/*CARROSSEIS*/
section.carrosselProdutos{
	width: 100%;
	margin: 0 auto;
	position: relative;
	margin-top: 10px;
	margin-bottom: 50px;
	max-width: 1400px;
	height: 640px;
    overflow: hidden;
}
	section.carrosselProdutos h6 {
		position:  relative;
		display: block;
	    width: 100%;
	    text-align: center;
	    font-family: var(--fontRobotoCondedesed);
	    font-size: 40px;
	    text-transform: uppercase;
	    font-weight: 100;
	    margin-top: 40px;
	    margin-bottom: 50px;
	}
	section.carrosselProdutos h6:before {
		content: " ";
		display: block;
		background: url(img/floresDecorativasLeft.png);
		height: 49px;
		background-repeat: no-repeat!important;
		width: 35%;
		background-size: cover!important;
		position: absolute;
		left: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
	}
	section.carrosselProdutos h6:after {
		content: " ";
		display: block;
		background: url(img/floresDecorativasRight.png);
		height: 49px;
		background-repeat: no-repeat!important;
		width: 35%;
		background-size: cover!important;
		position: absolute;
		right: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
	}
	section .buttonCarrossel{
		width: 50px;
		height: 50px;
		background-size: cover!important;
		background-position: center!important;
		border: none;
		outline: none;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 999;
	}
	section.carrosselProdutos button.btnsLeft {
		background: url(img/left-arrow.svg);
		left: 0;
	}
	section.carrosselProdutos button.btnRight {
		background: url(img/right-arrow.svg);
		right: 0;
	}
	section.carrosselProdutos {
	 	width: 100%;
 	    padding: 0 28px;
	}
		section.carrosselProdutos .item {
		    padding: 0 15px;
		    max-width: 336px;
		}
			section.carrosselProdutos .item .spot {
				width: 100%;
			    min-width: 200px;
			}
				section.carrosselProdutos .item .spot a {
					text-decoration: none;
					outline: none;
				}
					section.carrosselProdutos .item .spot a figure {
					    padding: 0;
					    margin: 0;
					    overflow: hidden;
					}
						section.carrosselProdutos .item .spot a figure img {
							display: block;
							width: 100%;
							height: auto;
						}
				section.carrosselProdutos .item .spot h2 {
				    font-family: var(--fontRobotoSlab);
				    font-size: 15px;
				    text-transform: uppercase;
				    margin: 10px 0 0px;
				    text-align: center;
				    height: 32px;
				}
				section.carrosselProdutos .item .spot .precos {

				}
					section.carrosselProdutos .item .spot .precos span.parcelamento {
					    color: #7d7c7c;
					    font-family: var(--fontRobotoSlab);
					    display: block;
					    text-align: center;
					    font-size: 13px;
					    font-weight: 300;
					}
					section.carrosselProdutos .item .spot .precos strong {
					    font-family: var(--fontRobotoSlab);
					    display: block;
					    text-align: center;
					    font-size: 21px;
					    color: var(--rosaPrincipal);
					    margin-bottom: 10px;
					}
					section.carrosselProdutos .item .spot .precos strong b{
						display: block;
						font-size: 15px;
					}
				section.carrosselProdutos .item .spot .btnComprar {

				}
					section.carrosselProdutos .item .spot .btnComprar input {

					}
::-webkit-scrollbar{ 
    background: #372d3b;
    width: 5px;

  }
  ::-webkit-scrollbar-button{ 
   background: #df9c9d;
  }
  ::-webkit-scrollbar-track{ 
    

  }
  ::-webkit-scrollbar-track-piece {
   }
  ::-webkit-scrollbar-thumb{ 
    background: #df9c9d;
  }
  ::-webkit-scrollbar-corner       { /* 6 */ }
  ::-webkit-resizer    {}   

.loaderSucessoCarrinho{
	display: none;
	position: fixed;
	left: -110%;
	z-index: 9999999;
	height: 100vh;
	width: 100%;
	display: block;
    background: var(--rosaPrincipal);
	text-align: center;
	-webkit-transition:All .5s ease;
	-moz-transition:All .5s ease;
	-o-transition:All .5s ease;
}
.loaderSucessoCarrinho.openAviso{
	left: 0;
	-webkit-transition:All .5s ease;
	-moz-transition:All .5s ease;
	-o-transition:All .5s ease;
}
	.loaderSucessoCarrinho .areaConteudo{
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform:translate(-50%, -50%);
		-moz-transform:translate(-50%, -50%);
		-o-transform:translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	.loaderSucessoCarrinho .icone{
		color: #ffff;
		font-size: 100px;
		border: solid 6px #fff;
		border-radius: 100%;
		width: 250px;
		height: 250px;
		text-align: center;
		line-height: 250px;
		margin: 0 auto;
	}
		.loaderSucessoCarrinho .icone i{

		}
	.loaderSucessoCarrinho p{
		color: #fff;
		font-size: 20px;
		padding: 10px 10px;
		margin: 0;
		font-size: 26px;
		font-family: var(--fontRobotoCondedesed);
	}
	.loaderSucessoCarrinho a{
		background: #fff;
		padding: 15px 20px;
		color: #f28383;
		font-size: 18px;
		border-radius: 5px;
		display: inline-block;
		text-decoration: none;
		font-family: var(--fontRobotoCondedesed);
	    font-weight: 600;
	    text-transform: uppercase;
	}
		.loaderSucessoCarrinho a i{
			color:#09d261;
		}
		.loaderSucessoCarrinho span{
			background: #fff;
			padding: 15px 20px;
			color: #f28383;
			font-size: 18px;
			border-radius: 5px;
			display: inline-block;
			text-decoration: none;
			font-family: var(--fontRobotoCondedesed);
		    font-weight: 600;
		    text-transform: uppercase;
		    cursor: pointer;
		}
	.pgCategoriaBanner{
	    margin-bottom: 50px;
	}