.bannerBeneficios{

}
	.bannerBeneficios .todosBeneficios {
	
	}

		.bannerBeneficios .todosBeneficios figure{
				
		}

		.bannerBeneficios .todosBeneficios figure img{
			display: block;
            margin: 0 auto;
            width: 100%;
		}