
      .carrosselParceria{   
        background: url(../img/background-parceiros.png);    
        background-attachment: fixed;
        background-position: center;
        background-size: cover ;
        position: relative;
     
      }
        .carrosselParceria h6{ 
          font-size: 54px;
          padding: 50px 0 0 0;
          color: var(--pretoPrincipal);
          margin-top: 0!important;
          padding-left: 50px;
          margin-bottom: 85px;
          font-family: var(--fontRobotoSlab);
          display: block;
          text-align: center;
    }
      .carrosselParceria .owl-carousel.owl-loaded{
        max-width: 900px;
        margin: 0 auto;
      }
        .carrosselParceria .item{ 
            max-height: 200px;
            
        }
        
          .carrosselParceria .item a{ 
      
          }
            .carrosselParceria .item a img{ 
              display: block;
              width: 100%;
              max-width: 115px;
              margin: 0 auto;
      
            }
        .carrosselParceria .botoesCarrosselParceria {
          width: 100%;
          
        }
          .carrosselParceria .botoesCarrosselParceria button {
            background: transparent;
            border:none;
            outline: none;
            position: absolute;
            z-index: 999;
            top: 55%;
            transform: translateY(-50%);
            -webkit-transform:translateY(-50%);
            -moz-transform:translateY(-50%);
            -o-transform:translateY(-50%);
          }
            .carrosselParceria .botoesCarrosselParceria button img {
              width: 100%;
              max-width: 27px;
            }
            .carrosselParceria .botoesCarrosselParceria #flechaEsquerda {
              left: 30px;
            }
            .carrosselParceria .botoesCarrosselParceria #flechaDireita {
              right: 30px;
            }
          .carrosselParceria .item{ 
            max-height: 200px;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            filter: gray; /* IE */
        }
         .carrosselParceria .item:hover {
          filter: none;
          transition: all linear .5s;
          -webkit-transition:all .5s;
          -moz-transition:all .5s;
          -o-transition:all .5s; 
        }
        .tornarParceiro{ 
          text-align: center;
          margin-top: 25px;                   
      
        }
           .abrirModalPaceiro{ 
            background-color: var(--rosaPrincipal);
            text-align: center;
            padding: 10px 4px;
            width: 100%;
            max-width: 250px;
            display: inline-block;
            margin: 25px 0;
            text-transform: uppercase;
            border-radius: 28px;
            text-transform: uppercase;
            font-weight: bold;
          }
           .abrirModalPaceiro:hover{ 
               cursor: pointer;
               transition:all linear .3s ;
              -webkit-transition:all linear .3s ;
              -moz-transition:all linear .3s ;
              -o-transition:all linear .3s ;             
          }

           .abrirModalPaceiro .abrirModalPaceiro{ 
        
          }
             .abrirModalPaceiro a{ 
              font-size: 18px;
              color: #fff;
              text-decoration: none;
              font-weight: 500;
              font-family: var(--fontRobotoSlab);
            }
