
.carrosselDestaque{
    height: 368px;
    overflow: hidden;
    position: relative;	
    
}
	.carrosselDestaque .item{
		max-height: 367px;		
		overflow: hidden;
	}
		.carrosselDestaque .item a{
	
		}
			.carrosselDestaque .item a figure{
			}
				.carrosselDestaque .item a figure img{
					display: block;
                    width: 100%;
                    margin: 0 auto;
				}