
*{
	margin:0;
	padding: 0;
}
footer.rodape {
	width: 100%

}
	footer.rodape section.newslletter{
		width: 100%;
		background-color: var(--rosaPrincipal);
		min-height: 220px;
		font-family: var(--fontRobotoCondedesed);
	}
		footer.rodape section.newslletter h6{
			color: #fff;
			font-size: 35px;
			text-align: center;
			display: block;
			width: 100%;
			margin: 0 auto;
			padding-top: 15px;
			font-weight: 500;
			letter-spacing: 1px;
		}
			footer.rodape section.newslletter h6 span.inscrevaNewsletter{
				font-family: var(--fontReleway);
				text-transform: uppercase;
				font-size: 30px;
				display: block;
				margin: 15px auto;
			}
		footer.rodape section.newslletter .fomrularioNewslletter{
			width: 100%;
			margin: 0 auto;
			padding: 0 10px;
			text-align: center;
		}
		footer.rodape section.newslletter .fomrularioNewslletter input{
			background: #fff;
			color: #f28383;
			outline: none;
			border: none;
			font-size: 22px;
			letter-spacing: 1px;
			font-weight: 100;
		}
		footer.rodape section.newslletter .fomrularioNewslletter input::-webkit-input-placeholder {
			color: var(--rosaPrincipal);
		}
		footer.rodape section.newslletter .fomrularioNewslletter input:-moz-placeholder {
			color: var(--rosaPrincipal);
		}
		footer.rodape section.newslletter .fomrularioNewslletter input::-moz-placeholder {
			color: var(--rosaPrincipal);
		}
		footer.rodape section.newslletter .fomrularioNewslletter input:-ms-input-placeholder  {
			color: var(--rosaPrincipal);
		}
		footer.rodape section.newslletter .fomrularioNewslletter input[type=text]{
			width: 100%;
			max-width: 300px;
			padding: 2px 13px;
		    margin-right: 25px;
		}
		footer.rodape section.newslletter .fomrularioNewslletter input[type=submit]{
			width: 100%;
			max-width: 120px;
			padding: 2px 10px;
			text-transform: uppercase;
			border: 1px solid transparent;
			display: inline-block;
		}
		footer.rodape section.newslletter .fomrularioNewslletter input[type=submit]:hover {
			color: #fff;
			border: 1px solid #fff;
			background: transparent;
			transition: all .4s;
			-webkit-transition: all .4s;
			-moz-transition: all .4s;
			-o-transition: all .4s;
		}
footer.rodape .divisorNewsletter {
	width: 100%;
	background-color: var(--rosaPrincipal);
	padding-top: 50px;
}
	footer.rodape .divisorNewsletter img{
		width: 100%;
		height: auto;
		text-align: center;
	}
	footer.rodape .infoRodape{
		background: var(--pretoPrincipal);
		padding-top: 40px;
	    min-height: 300px;
	}
		footer.rodape .infoRodape .logo{
			width: 100%;
			max-width: 150px;
			margin: 0 auto;
			margin-top: 30px;
		}
			footer.rodape .infoRodape .logo a{
				text-decoration: none;
			}
				footer.rodape .infoRodape .logo a img{
					width: 100%;
					height: auto;
				}
	footer.rodape .infoRodape .menu{
		font-family: var(--robotoCondedesed);
		color: #fff;
		border-left: 1px solid #fff;
		padding-left: 26px;
		min-height: 130px;
		position: relative;
	}
	
		footer.rodape .infoRodape .menu strong{
			text-transform: uppercase;
			font-size: 16px;
			display: block;
			padding-top: 17px;
		}
		footer.rodape .infoRodape .menu nav{
			display: block;
			width: 100%;
			margin-top: 20px;
		}
		footer.rodape .infoRodape .menu a{
			display: block;
			text-decoration: none;
			color: #fff;
			font-family: var(--fontReleway);
			font-size: 15px;
			font-weight: 100;
			margin: 0px 0;
			text-align: left;
		}
		footer.rodape .infoRodape .menu a:hover{
			text-decoration:underline;
		}
		footer.rodape .infoRodape .menu ul.listaRedesSociais{
			list-style: none;
		}
			footer.rodape .infoRodape .menu ul.listaRedesSociais li{
				display: inline-block;
				margin-top: 10px;
				padding: 0 5px 0 0;
			}
				footer.rodape .infoRodape .menu ul.listaRedesSociais li a{
					display: block;
					width: 33px;
					height: 33px;
					background: #fff;
					color: var(--pretoPrincipal);
					text-align: center;
					border-radius: 50%;
					position: relative;
					text-decoration: none;
					border:solid 1px transparent;
				}
					footer.rodape .infoRodape .menu ul.listaRedesSociais li a:hover{
						background: #000;
						color:#fff;
						border-color:#fff;
					}
					footer.rodape .infoRodape .menu ul.listaRedesSociais li a i{
						font-size: 18px;
						display: block;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%,-50%);
					}
		footer.rodape .infoRodape .menu div.paginaFacebok{
			position: absolute;
			left: 27px;
			width: 100%;
			max-width: 200px;
			overflow: hidden;
			height: 137px;
		}
			footer.rodape .infoRodape .menu div.paginaFacebok iframe {
				width: 100%;
				max-width: 200px!important;
		    	height: 133px!important;
			}
	footer.rodape .infoRodape .fomasPagamentos {
		width: 100%;
		max-width: 750px;
	    margin-top: 35px;
	}
		footer.rodape .infoRodape .fomasPagamentos span{
			font-family: var(--fontRobotoCondedesed);
			color: #fff;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 18px;
			margin-right: 20px;
		}
		footer.rodape .infoRodape .fomasPagamentos ul{
			list-style: none;
			display: inline-block;
		}
			footer.rodape .infoRodape .fomasPagamentos ul li { 
				display: inline-block;
				padding: 0px 3px;
				width: 100%;
				max-width: 50px;
				vertical-align: unset;
			}
				footer.rodape .infoRodape .fomasPagamentos ul li img{
					width: 100%;
					height: auto;
				}
div.copyright {
	display: block;
	width: 100%;
	background-color: var(--pretoPrincipal);
	padding: 30px 0;
	position: relative;
	min-height: 100px;
}
div.copyright:before{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 55px;
    border: 0;
    z-index: 1;
}
	div.copyright h6{
		display: block;
		width: 100%;
		max-width: 320px;
		margin: 0 auto;
		text-align: center;
		min-height: 30px;
		border: 2px solid #fff;
		padding: 15px;
		color: #fff;
		font-family: var(--fontRobotoCondedesed);
		font-size: 17px;
		z-index: 999;
		background-color: var(--pretoPrincipal);
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
		div.copyright h6 i{
		    color: #b3131b;
		}
@media (max-width: 991px){
	footer.rodape .infoRodape .fomasPagamentos {
	    margin-top: 120px;
	}
	footer.rodape section.newslletter .fomrularioNewslletter input[type=submit] {
		margin-top: 20px;
	}
}
@media (max-width: 768px) {
	footer.rodape section.newslletter .fomrularioNewslletter {
	    padding: 0 41px;
	    max-width: 400px;
    	text-align: center;
	}
	footer.rodape section.newslletter .fomrularioNewslletter input {
		margin-top: 20px;
	}
	footer.rodape .infoRodape .fomasPagamentos {
		text-align: center;
	}
	footer.rodape section.newslletter h6 {
		font-size: 27px;
	}
	footer.rodape section.newslletter h6 span.inscrevaNewsletter {
		font-size: 23px;
	}
	footer.rodape .infoRodape .menu {
		margin-left: 20px;
	}
	footer.rodape .infoRodape .fomasPagamentos ul li {
		margin-top: 10px;
	}
}
@media (max-width: 640px) {
	footer.rodape section.newslletter h6 {
		font-size: 21px;
	}
	footer.rodape section.newslletter h6 span.inscrevaNewsletter {
	    font-size: 18px;
	    padding: 0 10px;
	}
}