
  .instagramFeed{
    width: 100%;
    max-width: 1300px;
    margin: 90px auto 25px;
    display: block;
  }
    .instagramFeed{

    }
      .instagramFeed .textoInstagram{
        text-align: left;
      }
        .instagramFeed .textoInstagram p{
          text-align: center;
          font-family: var(--fontRobotoSlab);
          font-weight: 600;
          font-size: 35px;
          color: #333333;
        }
          .instagramFeed .textoInstagram p a{
            color: #f28383;
            text-decoration: none;
          }
    #instafeed {
      text-align: center;
    }
    #instafeed a .itemInstagram{
      width: 24.7%;
      display: inline-block;
      position: relative;
      vertical-align: top;
      height: 322px;
      overflow: hidden;
      text-align: center;
      margin: 2px;
    } 
    #instafeed a .itemInstagram img{
      display: block;
      width: 100%;
      height: auto;
    }
      .itemInstagram:before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
      .itemInstagram:hover:before {
          background: rgb(0,0,0,0.37);
      }
      #instafeed a .itemInstagram .likeComments{
        position: absolute;
        display: block;
        top: 0;
        z-index: 9999999;
        text-align: center;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
      }
      #instafeed a .itemInstagram .likeComments .likes{
        opacity: 0;
        font-size: 25px;
        display: inline-block;
        margin: 0 10px;
        color: #fff;
        font-weight: 600;
        position: relative;
        font-family: var(--fontReleway);
        vertical-align: text-bottom;
      }
      #instafeed a .itemInstagram .likeComments .comments{
        opacity: 0;
        font-size: 25px;
        display: inline-block;
        margin: 0 10px;
        color: #fff;
        font-weight: 600;
        position: relative;
        font-family: var(--fontReleway);
        vertical-align: text-bottom;
      }
      #instafeed a .itemInstagram:hover .likes {
        opacity: 1;
      }
      #instafeed a .itemInstagram:hover .comments {
        opacity: 1;
      }

      #instafeed .likes:before{
      content: " ";
      display: inline-block;
      background: url(../img/likeinsta.png);
      width: 22px;
      height: 22px;
      background-position: center!important;
      background-size: cover!important;
      background-repeat: no-repeat!important;
      margin: 0 auto;
      margin-right: 6px;
          vertical-align: sub;
    }
     #instafeed .comments:before {
      content: " ";
      display: inline-block;
      background: url(../img/chatinsta.png);
      width: 22px;
      height: 22px;
      background-position: center!important;
      background-size: cover!important;
      background-repeat: no-repeat!important;
      margin: 0 auto;
      margin-right: 6px;
          vertical-align: sub;
  }

  @media(max-width: 991px){
    #instafeed a .itemInstagram{
      height: auto;
    }
    #instafeed a .itemInstagram{
      width: 32.7%;
    }
  }

  @media(max-width: 768px){
    #instafeed a .itemInstagram{
      height: auto;
    }
    #instafeed a .itemInstagram{
      width: 49%;
    }
  }