.menuCategoria{
	height: 194px;
	overflow: hidden;
	max-width: 1400px;
	margin:0 auto;
}
	.menuCategoria .menu{
	
	}
		.menuCategoria .menu nav{
		
		}
		.menuCategoria .menu nav a{
			text-decoration: none;
		}
		.menuCategoria .menu nav a figure{
			background: #f28383;
			width: 120px;
			height: 120px;
			border-radius: 100%;
			margin: 0 auto;
			position: relative;
			padding-top: 35px;
			transition:All .1s ease;
			-webkit-transition:All .1s ease;
			-moz-transition:All .1s ease;
			-o-transition:All .1s ease;
		}
			.menuCategoria .menu nav a:hover figure{
				background: var(--pretoPrincipal);
				transition:All .1s ease;
				-webkit-transition:All .1s ease;
				-moz-transition:All .1s ease;
				-o-transition:All .1s ease;
			}
		.menuCategoria .menu nav a::after{
			
		}
		.menuCategoria .menu nav a:last-child::after{
			
		}
			.menuCategoria .menu nav a:hover{
			}
			.menuCategoria .menu nav a img{
				display: block;
				width: 100%;
				margin: 0 auto;
				max-width: 50px;
			}
				.menuCategoria .menu nav a:hover img{
					-webkit-animation: tada 1s ease;
					animation: tada 1s ease;
					-webkit-animation-iteration-count: 1;
					animation-iteration-count: 1;
				}
 			.menuCategoria .menu nav a h2{
				text-align: center;
				font-size: 18px;
				color: #333;
				margin: 0;
				margin-top: 15px;
				font-family: var(--fontOswald);
 				
 			}

 			@media(max-width: 525px){
 				.menuCategoria .menu nav a figure{
 					width: 90px;
 					height: 90px;
					padding-top: 25px;
 				}
 				.menuCategoria .menu nav a img{
 					max-width: 40px;
 				}
 				.menuCategoria .menu nav{
 					margin-top: 10px;
 				}
 				.menuCategoria .menu nav a h2{
 					font-size: 16px;
 				}
 			}

