/*

Theme Name: Amanda Karoline
Theme URI: http://amandakaroline.com.br
Author: HC Desenvolvimentos
Author URI: http://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: amandakaroline
Tags: Modelo, Maquiagem, Fotos, Portfólio, Preto.

--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA
*/
/*VARIÁVEIS*/

/*SPOT*/
@import url("woocomerceCorrecoes.css");

/*MENU DE CATEGORIA*/
@import url("menuCategoria.css");


/*PÁGINA DE PRIVACIDADE*/
@import url("pgPrivacidade.css");

/*PÁGINA QUEM SOMOS*/
@import url("pgQuemSomos.css");

/*PÁGINA DE MARCAS*/
@import url("pgMarcas.css");

/*CARROSSEL DE PARCEIROS*/
@import url("footer.css");

/*SPOT*/
@import url("spotProduto.css");

/*PÁGINA DO PRODUTO*/
@import url("pg-produto.css");

/*SIDEBAR CATEGORIA*/
@import url("sidebarCategoria.css");

/*PÁGINA DE CONTATO*/
@import url("pg-contato.css");

:root{
	
	/* CORES */
	--rosaPrincipal:#f28383;
	--pretoPrincipal:#222222;
	--cinzaPrincipal:#777373;
	--hoverBtnComprar:#e26767;
	--rosaHoverBotao:#f28383c9;


	/*FONTS*/
	--fontRobotoCondedesed:'Roboto Condensed', sans-serif;
	--fontRobotoSlab:'Roboto Slab', serif;
	--fontReleway:'Raleway', sans-serif;
	--fontOswald:'Oswald', sans-serif;


	/*COMO USAR AS VARIÁVEIS*
		color: var(--fontreleway);
	*/

	/*TAMANHO SPOT*/
	--fontSizepPreco:30px;
	--fontSizepPrecoResponsivo:15px;
	--fontSizepTitulo:19px;
	--fontSizeTituloResponsivo:13.5px;
	--fontSizeParcelamento:19px;
	--fontSizeBtnComprar:25px;
	--fontSizeTituloResponsivo:13.5px;


}

.loadSite{
  display: block;
  background: #f28383;
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  transition:All 1s ease;
  -webkit-transition:All 1s ease;
  -moz-transition:All 1s ease;
  -o-transition:All 1s ease;
   z-index: 999;

}
  .loadSite:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 0 0 100vh 100vw;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    border-color: transparent transparent rgba(255, 255, 255, 0.07) transparent;

}
.loadSite img{
	display: block;
	margin-bottom: 10px;
	
}

.mobile{
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 9999999;
}
  .mobile nav{
  
  }
    .mobile nav ul{
      padding: 0;
      font-size: 0;
      margin: 0;
      overflow-y: scroll;
      height: 100vh;
    }
      .mobile nav ul li{
        position: relative;
        height: calc(50vh - 29px);
        display: block;
        background-color: #f28383;
        position: relative;
        overflow: hidden;
        text-align: center;
        width: 50%;
        display: inline-block;
        vertical-align: top;
        border: solid 1px #fff;
      } 
        .mobile nav ul li:after{
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-style: solid;
          border-width: 0 0 47vh 49vw;
          -webkit-transition: all 0.6s ease-in-out;
          -moz-transition: all 0.6s ease-in-out;
          -o-transition: all 0.6s ease-in-out;
          transition: all 0.6s ease-in-out;
          border-color: transparent transparent rgba(255, 255, 255, 0.07) transparent;
        } 
        .mobile nav ul li a{
          font-size: 5vh;
          color: #fff;
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-family: var(--fontOswald);
          z-index: 9;


        }
           .mobile nav ul li a small{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

          }
          .mobile nav ul li a i{
            display: block;
            font-size: 16vh;
            margin-bottom: 5px;
          }
  .menuMobile{
    background: #f28383;
    padding:10px;
    display: none;
  }  
    .menuMobile .logoMobile figure{
        display: block;
    } 
      .menuMobile .logoMobile figure img{
         display: block;
         max-width: 100%;
         width: 100%;
         margin: 0 auto; 
      }
    .menuMobile .menuNavegacao .iconeNavegacao{
      text-align: right;
    } 
      .iconeNavegacao ul{
        padding:0;
        margin:0;
      }
      .iconeNavegacao ul li{
        display: inline-block;
        margin: 0 5px;
      }
        .iconeNavegacao ul li i{
          text-decoration: none;
          color: #fff;
          font-size: 4vh;
        }
        .iconeNavegacao ul li i#closePesquisa{
          display: none;
        }
      .menuMobile .menuNavegacao .iconeNavegacao a{
        text-decoration: none;
        color: #fff;
        font-size: 4vh;
      
      } 
        .menuMobile .menuNavegacao .iconeNavegacao a i{

        } 
    .menuMobile .formPesquisaMobile{
      padding-top: 8px;
      display: none;
    }
      .menuMobile .formPesquisaMobile input{
        display: block;
        width: 100%;
        height: 35px;
        border: none;
        padding:10px;
        outline: none;

      }
  .menuInstitucional{
    position: absolute;
    background: #f28383;
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    padding: 10px;
    right: -110%;
      z-index: 9999;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
  }
  .menuInstitucional.openMenumenuInstitucional{
    right: 0;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
  
  }
    .menuInstitucional ul{
      list-style:none;
      padding: 0;
      margin:0;
    }
      .menuInstitucional ul li{
    
      } 
        .menuInstitucional p{
          font-family: var(--fontOswald);
          color: #fff;
          text-align: center;
          font-size: 30px;
          text-transform: uppercase;
        }
        .menuInstitucional i.far.fa-times-circle{
          float: right;
          color:#fff;
          font-size: 30px;
          margin-top: 6px;
        }
        .menuInstitucional i.fas.fa-home{
          float: left;
          color:#fff;
          font-size: 30px;
          margin-top: 6px;
        }
        .menuInstitucional ul li a{
          font-family: var(--fontReleway);
          color: #fff;
          border-bottom: solid 1px #fff;
          display: block;
          padding: 10px;
          font-weight: 500;
        }  
  .bannerMobile{
    padding: 10px;
  }
    .bannerMobile a{
      display: block;
      margin-bottom: 10px; 
    }
      .bannerMobile a img{
        display: block;
        width: 100%;
      }
  footer.rodape .infoRodape{
    background: var(--pretoPrincipal);
    padding-top: 40px;
      min-height: 300px;
  }
    footer.rodape .infoRodape .logo{
      width: 100%;
      max-width: 150px;
      margin: 0 auto;
      margin-top: 30px;
    }
      footer.rodape .infoRodape .logo a{
        text-decoration: none;
      }
        footer.rodape .infoRodape .logo a img{
          width: 100%;
          height: auto;
        }
  footer.rodape .infoRodape .menu{
    font-family: var(--robotoCondedesed);
    color: #fff;
    border-left: 1px solid #fff;
    padding-left: 26px;
    min-height: 130px;
    position: relative;
  }
  
    footer.rodape .infoRodape .menu strong{
      text-transform: uppercase;
      font-size: 16px;
      display: block;
      padding-top: 17px;
    }
    footer.rodape .infoRodape .menu nav{
      display: block;
      width: 100%;
      margin-top: 20px;
    }
    footer.rodape .infoRodape .menu a{
      display: block;
      text-decoration: none;
      color: #fff;
      font-family: var(--fontReleway);
      font-size: 15px;
      font-weight: 100;
      margin: 0px 0;
      text-align: left;
    }
    footer.rodape .infoRodape .menu ul.listaRedesSociais{
      list-style: none;
    }
      footer.rodape .infoRodape .menu ul.listaRedesSociais li{
        display: inline-block;
        margin-top: 10px;
        padding: 0 5px 0 0;
      }
        footer.rodape .infoRodape .menu ul.listaRedesSociais li a{
          display: block;
          width: 33px;
          height: 33px;
          background: #fff;
          color: var(--pretoPrincipal);
          text-align: center;
          border-radius: 50%;
          position: relative;
          text-decoration: none;
        }
          footer.rodape .infoRodape .menu ul.listaRedesSociais li a i{
            font-size: 18px;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
          }
    footer.rodape .infoRodape .menu div.paginaFacebok{
      position: absolute;
      left: 27px;
      width: 100%;
      max-width: 200px;
      overflow: hidden;
      height: 137px;
    }
      footer.rodape .infoRodape .menu div.paginaFacebok iframe {
        width: 100%;
        max-width: 200px!important;
          height: 133px!important;
      }
  footer.rodape .infoRodape .fomasPagamentos {
    width: 100%;
    max-width: 750px;
      margin-top: 35px;
  }
    footer.rodape .infoRodape .fomasPagamentos span{
      font-family: var(--fontRobotoCondedesed);
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;
      margin-right: 20px;
    }
    footer.rodape .infoRodape .fomasPagamentos ul{
      list-style: none;
      display: inline-block;
    }
      footer.rodape .infoRodape .fomasPagamentos ul li { 
        display: inline-block;
        padding: 0px 3px;
        width: 100%;
        max-width: 50px;
        vertical-align: unset;
      }
        footer.rodape .infoRodape .fomasPagamentos ul li img{
          width: 100%;
          height: auto;
        }

/*EXTRAS*/
.menuCategoria{
  margin:30px auto 0;
}
.removeLoaded{
  left: -110%;
  transition:All 1s ease;
  -webkit-transition:All 1s ease;
  -moz-transition:All 1s ease;
  -o-transition:All 1s ease;
}
.scrollStop{
  overflow: hidden;
}

.loadSite .areaload{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.loadEfects{
  position: absolute;
  bottom: 30px;

  left: 50%;
  transform: translateX(-50%);
}
.loadEfects .lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.loadEfects .lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.loadEfects .lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}
.loadEfects .lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.loadEfects .lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.loadEfects .lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.loadEfects .lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.loadEfects .lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.loadEfects .lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.loadEfects .lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.loadEfects .lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.loadEfects .lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.loadEfects .lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.loadEfects .lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.loadEfects .lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.loadEfects .lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.loadEfects .lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.loadEfects .lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.loadEfects .lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
::-webkit-scrollbar{ 
    background: #372d3b;
    width: 5px;

  }
  ::-webkit-scrollbar-button{ 
   background: #df9c9d;
  }
  ::-webkit-scrollbar-track{ 
    

  }
  ::-webkit-scrollbar-track-piece {
   }
  ::-webkit-scrollbar-thumb{ 
    background: #df9c9d;
  }
  ::-webkit-scrollbar-corner       { /* 6 */ }
  ::-webkit-resizer    {}   



/*ESTILOS GERAIS*/
.containerFull{
  width:80%;
  margin: 0 auto;
}

/*BTN COMPRA*/
.btnComprar{
  background: var(--rosaPrincipal);
  position: relative;
  width: 100%;
  max-width: 225px;
  margin: auto;

}
  .btnComprar:before{
    background: url(../img/imagem-btnComprar.png);
    display: block;
    content: "";
    width: 19px;
    height: 30px;
    position: absolute;
    right: 30px;
    background-size: cover!important;
    background-position: center!important;
    top: 9px;
    transition: All .5s ease;
    -webkit-transition: All .5s ease;
    -moz-transition: All .5s ease;
    -o-transition: All .5s ease;
  }
    .btnComprar:hover:before{
      background: url(../img/iconComprarHover.png);
      transition:All .5s ease;
      -webkit-transition:All .5s ease;
      -moz-transition:All .5s ease;
      -o-transition:All .5s ease;
    }
  .btnComprar:hover{
    background: var(--hoverBtnComprar);
  }
  .btnComprar input[type="submit"], .btnComprar  a:first-child{
    background: transparent!important;
    border: none!important;
    color: #fff!important;
    font-family: var(--fontOswald);
    font-weight: 100!important;
    font-size: var(--fontSizeBtnComprar)!important;
    text-transform: uppercase;
    padding: 10px 0!important;
    display: block!important;
    width: 100%;
    outline:none;
  }
  .btnComprar  a:first-child::after{
    display: none!important;
  }
  .btnComprar a.added_to_cart{
    padding-top: .5em;
    display: inline-block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--fontOswald);
    background: #e26767;
    margin-top: 10px;
    padding: 4px;
    width: 100%;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
  }

.single-product .entry-title{
  display: none;
}
.single-product #secondary{
  display: none;
}
.entry-title{
  display: none;
}
.travarScroll{
  overflow: hidden;
}

/* EXTRAS */

  .dgwt-wcas-no-submit .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input {
   
  }
  .dgwt-wcas-preloader{
    position: absolute;
    left: 0;
  }
  .dgwt-wcas-no-submit .dgwt-wcas-ico-magnifier {
    padding: 9px!important;
    /* background: #000!important; */
    color: #222!important;
    max-width: 35px!important;
    width: 35px!important;
    height: 35px!important;
    border-radius: 100%!important;
    max-height: 35px!important;
    left: 0;
    right: 0;
    /* border: 1px solid #fff!important; */
    opacity: 1!important;
    fill: #222!important;
  }
/*CARROSSEIS*/
section.carrosselProdutos{
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-top: 10px;
  margin-bottom: 50px;
  max-width: 1400px;
  overflow: hidden;
}
  section.carrosselProdutos h6 {
    position:  relative;
    display: block;
      width: 100%;
      text-align: center;
      font-family: var(--fontRobotoCondedesed);
      font-size: 40px;
      text-transform: uppercase;
      font-weight: 100;
      margin-top: 40px;
      margin-bottom: 50px;
  }
  section.carrosselProdutos h6:before {
    content: " ";
    display: block;
    background: url(../img/floresDecorativasLeft.png);
    height: 49px;
    background-repeat: no-repeat!important;
    width: 35%;
    background-size: cover!important;
    position: absolute;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  section.carrosselProdutos h6:after {
    content: " ";
    display: block;
    background: url(../img/floresDecorativasRight.png);
    height: 49px;
    background-repeat: no-repeat!important;
    width: 35%;
    background-size: cover!important;
    position: absolute;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  section .buttonCarrossel{
    width: 50px;
    height: 50px;
    background-size: cover!important;
    background-position: center!important;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
  }
  section.carrosselProdutos button.btnsLeft {
    background: url(../img/left-arrow.svg);
    left: 0;
  }
  section.carrosselProdutos button.btnRight {
    background: url(../img/right-arrow.svg);
    right: 0;
  }
  section.carrosselProdutos {
    width: 100%;
      padding: 0 28px;
  }
    section.carrosselProdutos .item {
        padding: 0 15px;
        max-width: 100%;
    }
      section.carrosselProdutos .item .spot {
        width: 100%;
          min-width: 200px;
      }
        section.carrosselProdutos .item .spot a {
          text-decoration: none;
          outline: none;
        }
          section.carrosselProdutos .item .spot a figure {
              padding: 0;
              margin: 0;
              overflow: hidden;
          }
            section.carrosselProdutos .item .spot a figure img {
              display: block;
              width: 100%;
              height: auto;
            }
        section.carrosselProdutos .item .spot h2 {
            font-family: var(--fontRobotoSlab);
            font-size: 15px;
            text-transform: uppercase;
            margin: 10px 0 0px;
            text-align: center;
            height: 32px;
        }
        section.carrosselProdutos .item .spot .precos {

        }
          section.carrosselProdutos .item .spot .precos span.parcelamento {
              color: #7d7c7c;
              font-family: var(--fontRobotoSlab);
              display: block;
              text-align: center;
              font-size: 13px;
              font-weight: 300;
          }
          section.carrosselProdutos .item .spot .precos strong {
              font-family: var(--fontRobotoSlab);
              display: block;
              text-align: center;
              font-size: 21px;
              color: var(--rosaPrincipal);
              margin-bottom: 10px;
          }
          section.carrosselProdutos .item .spot .precos strong b{
            display: block;
            font-size: 15px;
          }
        section.carrosselProdutos .item .spot .btnComprar {

        }
          section.carrosselProdutos .item .spot .btnComprar input {

          }
::-webkit-scrollbar{ 
    background: #372d3b;
    width: 5px;

  }
  ::-webkit-scrollbar-button{ 
   background: #df9c9d;
  }
  ::-webkit-scrollbar-track{ 
    

  }
  ::-webkit-scrollbar-track-piece {
   }
  ::-webkit-scrollbar-thumb{ 
    background: #df9c9d;
  }
  ::-webkit-scrollbar-corner       { /* 6 */ }
  ::-webkit-resizer    {}   

.loaderSucessoCarrinho{
  display: none;
  position: fixed;
  left: -110%;
  z-index: 9999999;
  height: 100vh;
  width: 100%;
  display: block;
    background: var(--rosaPrincipal);
  text-align: center;
  -webkit-transition:All .5s ease;
  -moz-transition:All .5s ease;
  -o-transition:All .5s ease;
}
.loaderSucessoCarrinho.openAviso{
  left: 0;
  -webkit-transition:All .5s ease;
  -moz-transition:All .5s ease;
  -o-transition:All .5s ease;
}
  .loaderSucessoCarrinho .areaConteudo{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .loaderSucessoCarrinho .icone{
    color: #ffff;
    font-size: 100px;
    border: solid 6px #fff;
    border-radius: 100%;
    width: 250px;
    height: 250px;
    text-align: center;
    line-height: 250px;
    margin: 0 auto;
  }
    .loaderSucessoCarrinho .icone i{

    }
  .loaderSucessoCarrinho p{
    color: #fff;
    font-size: 20px;
    padding: 10px 10px;
    margin: 0;
    font-size: 26px;
    font-family: var(--fontRobotoCondedesed);
  }
  .loaderSucessoCarrinho a{
    background: #fff;
    padding: 15px 20px;
    color: #f28383;
    font-size: 18px;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    font-family: var(--fontRobotoCondedesed);
      font-weight: 600;
      text-transform: uppercase;
  }
    .loaderSucessoCarrinho a i{
      color:#09d261;
    }
    .loaderSucessoCarrinho span{
      background: #fff;
      padding: 15px 20px;
      color: #f28383;
      font-size: 18px;
      border-radius: 5px;
      display: inline-block;
      text-decoration: none;
      font-family: var(--fontRobotoCondedesed);
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
    }
  .pgCategoriaBanner{
      margin-bottom: 50px;
  }
  
  @media (max-width: 525px){
    section.carrosselProdutos h6{
      font-size: 33px;
      margin-bottom: 25px;
      margin-top: 0;
    }
    #secondary{
      display: none;
    }
    #woocommerce_product_categories-2{
      display: none;
    }
    section.carrosselProdutos h6:before{
      display: none;
    }
    section.carrosselProdutos h6:after{
      display: none;
    }
   
    section.carrosselProdutos{
      padding: 0;
    }
    section.carrosselProdutos .item{
        padding: 0;
    }




  }