.bannerCategoriaHome{
	max-width: 1400px;
    margin: 50px auto;
    text-align: center;
}
	.bannerCategoriaHome .bannersHome{
	
	}
		.bannerCategoriaHome .bannersHome .item{
			display: inline-block;
			padding: 10px;
			width: 32.5%;
		}
			.bannerCategoriaHome .bannersHome .item figure{
	
			}
				.bannerCategoriaHome .bannersHome .item figure img{
					display: block;
					width: 100%;
				}