.areaFormContato{
	
}
	.areaFormContato{
	
	}
		.areaFormContato label{
			font-family: var(--fontOswald);
			letter-spacing: 1px;
			font-weight: 400;
			color: #000;
			font-size: 18px;
		}
		.areaFormContato input{
			border: none;
			outline: none;
			background: transparent;
			border: 1px solid #f28383;
			padding: 10px;
			border-radius: 3px;
			color: #000;
			height: 40px;
			outline: none;
			display: block;
			width: 100%;
		}
		.areaFormContato select{
			border: none;
			outline: none;
			background: transparent;
			border: 1px solid #f28383;
			padding: 10px;
			border-radius: 3px;
			color: #000;
			height: 40px;
			outline: none;
			display: block;
			width: 100%;
		}
			.areaFormContato select:focus {
			    color: #fff;
			    background: #de7777;
			}
		.areaFormContato textarea{
			border: none;
			outline: none;
			background: transparent;
			border: 1px solid #f28383;
			padding: 10px;
			border-radius: 3px;
			color: #000;
			height: 125px;
			outline: none;
			display: block;
			width: 100%;

		}

		.areaFormContato input[type="text"]{
	
		}
			.areaFormContato input[type="text"]:focus {
			    color: #fff;
			    background: #de7777;
			}
		.areaFormContato input[type="tel"]{
	
		}
			.areaFormContato input[type="tel"]:focus {
			    color: #fff;
			    background: #de7777;
			}
		.areaFormContato input[type="email"]{
	
		}
			.areaFormContato input[type="email"]:focus {
			    color: #fff;
			    background: #de7777;
			}
		.areaFormContato input[type="submit"]{
			background: #f28383;
			color: #fff;
		}
		.areaFormContato textarea{
	
		}
			.areaFormContato textarea:focus {
			    color: #fff;
			    background: #de7777;
			}