*{ 
	margin: 0;
	padding:0;
}
.pg-produto	{
    width: 100%;
    padding: 0 5px;
}
	.pg-produto	nav {
		display: block;
		width: 100%;
		text-align: left;
		margin: 0 auto;
		padding-top: 30px;
		max-width: 1100px;
		border-top: 2px solid #adadad;
	}
		.pg-produto	nav a {
			font-size: 18px;
			color: #222222b5;
			display: inline-block;
			text-decoration: none;
			position: relative;
			margin-right: 25px;
			font-weight: 200;
			font-family: var(--fontReleway);
		}
		.pg-produto nav a i {
			display: block;
			font-size: 23px;
			position: absolute;
			width: 20px;
			top: 2px;
			right: -30px;
		}
			.pg-produto	nav a.selecionado {
				color: var(--pretoPrincipal);
				font-weight: 500;
			}
			.pg-produto	nav a:last-child i {
				display: none;
			}
	.product-template-default	.woocommerce-breadcrumb{
       	display: block;
	    width: 100%;
	    text-align: left;
	    margin: 0 auto;
	    padding-top: 30px;
	    max-width: 1100px;
	    border-top: 3px solid #adadad;
		font-size: 18px;
		color: #222222b5;
		text-decoration: none;
		font-weight: 200;

	}
		.product-template-default	.woocommerce-breadcrumb a{
			font-size: 18px;
			color: #222222b5;
			display: inline-block;
			text-decoration: none;
			position: relative;
		    margin: 0 10px;
			font-weight: 200;
			font-family: var(--fontReleway);
			vertical-align: text-bottom;
		}
		
			.product-template-default .woocommerce-breadcrumb i {
				display:inline-block;
				font-size: 23px;
				width: 20px;
				color: #222222b5;
			}
		.product-template-default	.woocommerce-breadcrumb a.selecionado{
			color: var(--pretoPrincipal);
    		font-weight: 500;
		}
	.pg-produto	.produto{
	    margin-top: 20px;
	}
		.pg-produto	.produto .galeria{
 		    width: 100%;
		    height: 584px;
		    overflow-y: scroll;
		}
			.pg-produto	.produto .galeria figure{
				width: 100%;
				max-width: 134.4px;
				padding: 0px 0px 15px 0;
				margin: 0 auto;
			}
				.pg-produto	.produto .galeria figure img{
				    width: 100%;
				    height: auto;
				}
		.pg-produto	.produto .imgImagemDestacada{
 	 	    width: 100%;
    		max-width: 515px;
		    height: 583px;
		    overflow: hidden;

		}
			.pg-produto	.produto .imgImagemDestacada img{
			    width: 100%;
			    max-width: 515px;
			}
		.pg-produto	.produto .descircaoProduto{
		}	
			.pg-produto	.produto .descircaoProduto .nomeProduto {

			}
				.pg-produto	.produto .descircaoProduto .nomeProduto h1{
					font-family: var(--fontReleway);
				    font-weight: 500;
				    margin: 0;
				    color: #000;
				}
				.pg-produto	.produto .descircaoProduto .nomeProduto span{
					font-family: var(--fontRobotoCondedesed);
					font-weight: 300;
					font-size: 20px;
					color: #000;
				}
			.pg-produto	.produto .descircaoProduto .precoProduto {
				color: #f28383;
			}
				.pg-produto	.produto .descircaoProduto .precoProduto .woocommerce-Price-amount.amount{
					display: inline-block;
					vertical-align: middle;
				    font-size: 25px;
				    font-family: var(--fontRobotoCondedesed);
				    font-weight: 500;
				    color: #f28383;
				}
				.pg-produto	.produto .descircaoProduto .precoProduto .woocommerce-Price-amount.amount span{
					
				    font-size: 25px;
				    font-family: var(--fontRobotoCondedesed);
				    font-weight: 500;
				    color: #f28383;
				}
				.pg-produto	.produto .descircaoProduto .precoProduto span{
				    font-family: var(--fontRobotoCondedesed);
				    font-weight: 100;
				    font-size: 21px;
				    color: #bfbfbf;
				}
			.pg-produto	.produto .descircaoProduto .coresProduto {
				width: 100%;
			}
			.pg-produto .produto .descircaoProduto .coresProduto,.pg-produto .produto .descircaoProduto .tamanhoProduto{ 
				margin: 10px 0;
			}
			.pg-produto .produto .descircaoProduto .precoProduto del{
				color: #c5bfbf;
			}
			.pg-produto .produto .descircaoProduto .precoProduto del .woocommerce-Price-amount.amount{
				display: block;
			    font-size: 17px;
			}
			.pg-produto .produto .descircaoProduto .precoProduto del .woocommerce-Price-amount.amount:before{
				content: "de ";
				display: inline-block;
			    font-size: 17px;
			    margin-right: 5px;
			}
			.pg-produto .produto .descircaoProduto .precoProduto del .woocommerce-Price-amount.amount .woocommerce-Price-currencySymbol{
			    font-size: 17px;
			}
			.pg-produto .produto .descircaoProduto .precoProduto ins{
			   color: transparent;
		       display: block;
			}
			.pg-produto .produto .descircaoProduto .precoProduto ins .woocommerce-Price-amount.amount{
				font-size: 33px;
				font-family: var(--fontRobotoCondedesed);
				font-weight: 200;
				color: #f28383;
				font-weight: bold;
			}
			.pg-produto .produto .descircaoProduto .precoProduto ins .woocommerce-Price-amount.amount:before{
				content: "Por ";
				display: inline-block;
				font-size: 17px;
				margin-right: 5px;
				font-size: 33px;
				font-family: var(--fontRobotoCondedesed);
				font-weight: bold;
				color: #f28383;
			}
			.pg-produto .produto .descircaoProduto .precoProduto ins .woocommerce-Price-currencySymbol{
				font-size: 33px;
				font-family: var(--fontRobotoCondedesed);
				font-weight: bold;
				color: #f28383;
			}
				.pg-produto	.produto .descircaoProduto .coresProduto span{
				    display: block;
				    font-size: 28px;
				    margin-top: 0;
				    font-family: var(--fontReleway);
				    font-weight: 100;
				    font-style: italic;
				    color: var(--pretoPrincipal);
				}
				.pg-produto	.produto .descircaoProduto .coresProduto ul{
					list-style: none;
					margin: 0;
				}
					.pg-produto	.produto .descircaoProduto .coresProduto ul li{
						display: inline-block;
					}
						.pg-produto	.produto .descircaoProduto .coresProduto ul li span{
							display: block;
						    width: 26px;
    						height: 26px;
							border-radius: 50%;
							margin: 0;
						}
						.pg-produto	.produto .descircaoProduto .coresProduto ul li span:hover li {
							border: 1px solid;
							border-radius: 50%;
							padding: 3px;
						}
			.pg-produto	.produto .descircaoProduto .tamanhoProduto {
			}
				.pg-produto	.produto .descircaoProduto .tamanhoProduto span{
				    display: block;
				    font-size: 28px;
				    margin-top: 0;
				    font-family: var(--fontReleway);
				    font-weight: lighter;
				    font-style: italic;
				    color: var(--pretoPrincipal);
				}
				.pg-produto	.produto .descircaoProduto .tamanhoProduto ul{
					list-style: none;
					margin-top: 0;
				}
					.pg-produto	.produto .descircaoProduto .tamanhoProduto ul li{
   						 display: inline-block;		
   						 margin:0;			
					}
						.pg-produto	.produto .descircaoProduto .tamanhoProduto ul li span{
						    font-style: normal;
						    font-size: 13px;
						    font-weight: normal;
						    display: block;
						    width: 26px;
						    height: 26px;
						    border-radius: 50%;
						    border: 1px solid;
						    text-align: center;
						    margin: 0;
						    line-height: 26px;						
						}
						.pg-produto	.produto .descircaoProduto .tamanhoProduto ul li span:hover{
							background-color: var(--pretoPrincipal);
							color: #fff;
							transition: all linear .4s;
							-webkit-transition: all linear .4s;
							-moz-transition: all linear .4s;
							-o-transition: all linear .4s;
							cursor: pointer;
						}
			.pg-produto	.produto .descircaoProduto .breveDescricaoProduto {
	    		font-family: var(--fontReleway);
				font-weight: 200;
				font-size: 16px;
			    padding-top: 25px;
		        margin-bottom: 10px;
			}
				.pg-produto	.produto .descircaoProduto .breveDescricaoProduto p{
					margin-bottom: 0;
					color: #000;
					font-weight: 400;
				}
				.pg-produto	.produto .descircaoProduto .breveDescricaoProduto a{
					text-decoration: none;
					color: #000;
					font-weight: 500;
					font-style: italic;
				}
		.pg-produto	.produto .botaoComprar {
		    width: 100%;
		    max-width: 185px;
		    margin-top: 20px;
		    position: relative;
		    display: inline-block;
		}
			.pg-produto	.produto .botaoComprar:before{
				content: '';
			    background: url(../img/imagem-btnComprar.png);
			    background-size: cover!important;
		        background-position: 50% 0px!important;
			    display: block;
			    width: 19px;
			    height: 30px;
			    position: absolute;
			    top: 5px;
			    right: 30px;
			    z-index: 1;
			}
		.pg-produto	.produto .botaoComprar:hover input{
			color: #f28383;
			border: 1px solid #f28383;
			background: #fff;
			transition: all .4s;
			-webkit-transition: all .4s;
			-moz-transition: all .4s;
			-o-transition: all .4s;
		}
		.pg-produto	.produto .botaoComprar:hover:before{
			content: '';
			background: url(../img/hover-btn-comprar.png);
			transition: all .4s;
			-webkit-transition: all .4s;
			-moz-transition: all .4s;
			-o-transition: all .4s;
		}
			.pg-produto	.produto .botaoComprar input{
			   	font-family: var(--fontOswald);
			    text-transform: uppercase;
			    border: none;
			    outline: none;
			    font-weight: lighter;
			    color: #fff;
			    background-color: #f28383;
			    padding: 6px 35px;
			    text-align: left;
			    font-size: 23px;
			    width: 100%;
				border: 1px solid transparent;
				display: block;
			}
			.pg-produto	.produto .botaoComprar a{
			   	font-family: var(--fontOswald);
			    text-transform: uppercase;
			    border: none;
			    outline: none;
			    font-weight: lighter;
			    color: #fff;
			    background-color: #f28383;
			    padding: 6px 35px;
			    text-align: left;
			    font-size: 23px;
			    width: 100%;
				border: 1px solid transparent;
				display: block;
				text-decoration: none;
			}

			.pg-produto	.produto .botaoComprar:hover a{
				color: #f28383;
				border: 1px solid #f28383;
				background: #fff;
				transition: all .4s;
				-webkit-transition: all .4s;
				-moz-transition: all .4s;
				-o-transition: all .4s;
			}
			.pg-produto	.produto .botaoComprar:hover:before{
				content: '';
				background: url(../img/hover-btn-comprar.png);
				transition: all .4s;
				-webkit-transition: all .4s;
				-moz-transition: all .4s;
				-o-transition: all .4s;
			}
			.pg-produto	.produto .botaoComprar a.added_to_cart.wc-forward{
				font-size: 20px;
				margin-top: 10px;
				border-color: #adbb44;
				background: transparent;
				color: #adbb44;
			}
			.pg-produto	.produto .botaoComprar:hover a.added_to_cart.wc-forward{
				background: #adbb44;
				color:#fff;
			}
			.pg-produto .woocommerce #respond input#submit.added::after, .woocommerce a.button.added::after, .woocommerce button.button.added::after, .woocommerce input.button.added::after{
				display: none;
			}
			.pg-produto .foraEstoque{
				display: inline-block;
				width: 100%;
				max-width: 176px;
				text-align: center;
				color: #fff;
				background: #bb0502;
				padding: 8px;
				text-transform: uppercase;
				font-weight: 600;
				border-radius: 3px;
			}
			
		.pg-produto	.produto .compartilharProduto {
			display: block;
			width: 100%;
			max-width: 190px;
			margin-top: 80px;
		}
			.pg-produto	.produto .compartilharProduto ul.listaRedesSociais{
				list-style: none;
			    margin: 0;
			    padding-left: 20px;
			    width: 100%;
			}
				.pg-produto	.produto .compartilharProduto ul.listaRedesSociais li{
				    display: inline-block;
				    vertical-align: text-bottom;
				    width: 100%;
				    max-width: 30px;
				    text-align: center;
				}	
					.pg-produto	.produto .compartilharProduto ul.listaRedesSociais li a{
				        display: block;
					    width: 30px;
					    height: 30px;
					    font-size: 25px;
					    text-decoration: none;
					}
					.pg-produto	.produto .compartilharProduto ul.listaRedesSociais li a.facebook{
					    color: #475993;
					}
					.pg-produto	.produto .compartilharProduto ul.listaRedesSociais li a.instagram{
			            background: url(../img/instagram.png);
					    background-size: cover!important;
					    background-position: center!important;
					    width: 24px;
                        height: 24px;
/*					    margin-bottom: 2.4px;
*/					}
					.pg-produto	.produto .compartilharProduto ul.listaRedesSociais li a.pinterest{
				        background: #0a7612;
					    text-align: center;
					    border-radius: 100%;
					    width: 30px;
					    height: 30px;
					    line-height: 25px;
					}
						.pg-produto	.produto .compartilharProduto ul.listaRedesSociais li a.pinterest i{
				            color: #fff;
						    border-radius: 100%;
						    line-height: 25px;
						 	font-size: 18px;
					 	    
						}
					.pg-produto	.produto .compartilharProduto ul.listaRedesSociais li a.twitter{
					    color: #fff;
					    background: #2daae1;
					    border-radius: 100%;
					    font-size: 17px;
					    text-align: center;
					    width: 30px;
					    height: 30px;
/*					    margin-bottom: 3px;
*/					}
						.pg-produto	.produto .compartilharProduto ul.listaRedesSociais li a.twitter i{
						    line-height: 24px;
						    font-size: 18px;
                            margin-top: 3px;

						}
						.pg-produto	.produto .compartilharProduto ul.listaRedesSociais li a i{

						}
	.pg-produto .divisor {
        border-bottom: 3px solid #adadad;
	    width: 100%;
	    max-width: 1100px;
	    margin: 0 auto;
	    margin-top: 55px;
	}
	.pg-produto section.detalhesProduto {
        width: 100%;
	    max-width: 1083px;
	    margin: 50px auto 30px;
	}
		.pg-produto section.detalhesProduto h6{
			font-family: var(--fontReleway);
		    font-size: 40px;
		    text-transform: uppercase;
		    font-weight: 400;
		    margin: 33px 0px 23px;
		}	
		.pg-produto section.detalhesProduto p{
			margin: 0;
			font-family: var(--fontReleway);
			font-size: 20px;
			color: #000;
			font-weight: 400;
		}
	.pg-produto section.produtosRelacionados {
        width: 100%;
       max-width: 1400px;
	    margin: 0 auto 100px;
	    position: relative;
	}
		.pg-produto section.produtosRelacionados h6 {
			position: relative;
		    display: block;
		    width: 100%;
		    text-align: center;
		    font-family: var(--fontRobotoCondedesed);
		    font-size: 40px;
		    text-transform: uppercase;
		    font-weight: 100;
		    margin-top: 40px;
		    margin-bottom: 50px;
		}
		.pg-produto section.produtosRelacionados h6:before {
		    content: " ";
		    display: block;
		    background: url(../img/floresDecorativasLeft.png);
		    height: 36px;
		    background-repeat: no-repeat!important;
		    width: 36%;
		    background-size: cover!important;
		    position: absolute;
		    left: 0;
		    position: absolute;
		    top: 50%;
		    transform: translateY(-50%);
		    -webkit-transform: translateY(-50%);
		    -moz-transform: translateY(-50%);
		    -o-transform: translateY(-50%);
		}
		.pg-produto section.produtosRelacionados h6:after {
		    content: " ";
		    display: block;
		    background: url(../img/floresDecorativasRight.png);
		    height: 36px;
		    background-repeat: no-repeat!important;
		    width: 36%;
		    background-size: cover!important;
		    position: absolute;
		    right: 0;
		    position: absolute;
		    top: 50%;
		    transform: translateY(-50%);
		    -webkit-transform: translateY(-50%);
		    -moz-transform: translateY(-50%);
		    -o-transform: translateY(-50%);
		}
		.pg-produto section.produtosRelacionados button {
	        width: 50px;
		    height: 50px;
		    background-size: cover!important;
		    background-position: center!important;
		    border: none;
		    outline: none;
		    position: absolute;
		    top: 50%;
		    transform: translateY(-50%);
		    z-index: 999;
		}
		.pg-produto section.produtosRelacionados button#esquerdaProdutosRelacionados {
			background: url(../img/left-arrow.svg);
			left: 0;
		}
		.pg-produto section.produtosRelacionados button#direitaProdutosRelacionados {
			background: url(../img/right-arrow.svg);
			right: 0;
		}
		.pg-produto section.produtosRelacionados .carrosselProdutosRelacionados {
		 	width: 100%;
	 	    padding: 0 28px;
		}
			.pg-produto section.produtosRelacionados .carrosselProdutosRelacionados .item {
			    width: 100%;
			    height: auto;
			    padding: 0 10px;
			    margin: 0 auto;
			}
				.pg-produto section.produtosRelacionados .carrosselProdutosRelacionados .item .spot {
					width: 100%;
				    min-width: 200px;
				}
					.pg-produto section.produtosRelacionados .carrosselProdutosRelacionados .item .spot a {
						text-decoration: none;
					}
						.pg-produto section.produtosRelacionados .carrosselProdutosRelacionados .item .spot a figure {
						    padding: 0;
						    margin: 0;
						    overflow: hidden;
						}
							.pg-produto section.produtosRelacionados .carrosselProdutosRelacionados .item .spot a figure img {
								display: block;
								width: 100%;
								height: auto;
							}
					.pg-produto section.produtosRelacionados .carrosselProdutosRelacionados .item .spot h2 {
					    font-family: var(--fontRobotoSlab);
					    font-size: 15px;
					    text-transform: uppercase;
					    margin: 10px 0 0px;
					    text-align: center;
					    min-height: 35px;
					    font-weight: 500;
					}
					.pg-produto section.produtosRelacionados .carrosselProdutosRelacionados .item .spot .precos {

					}
						.pg-produto section.produtosRelacionados .carrosselProdutosRelacionados .item .spot .precos span.parcelamento {
						    color: #7d7c7c;
						    font-family: var(--fontRobotoSlab);
						    display: block;
						    text-align: center;
						    font-size: 13px;
						    font-weight: 300;
						}
						.pg-produto section.produtosRelacionados .carrosselProdutosRelacionados .item .spot .precos strong {
						    font-family: var(--fontRobotoSlab);
						    display: block;
						    text-align: center;
						    font-size: 21px;
						    color: var(--rosaPrincipal);
						    margin-bottom: 10px;
						}
					.pg-produto section.produtosRelacionados .carrosselProdutosRelacionados .item .spot .btnComprar {

					}
						.pg-produto section.produtosRelacionados .carrosselProdutosRelacionados .item .spot .btnComprar input {

						}
	.pg-produto .informacoesLoja {
		margin: 100px auto;
	}
		.pg-produto .informacoesLoja figure {

		}
			.pg-produto .informacoesLoja figure img {
				width: 100%
				height:auto;
			}

/* EXTRAS */			
	.pg-produto .woocommerce-product-details__short-description{
		display: none;
	}
	.pg-produto p.price{
		display: none;
	}
	.pg-produto .label{
		display: block;
		font-size: 19px;
		color: #f28383;
		border-radius: 0;
		text-align: left;
		font-family: var(--fontRobotoCondedesed);
		padding: 5px 5px 5px 0;
	}
	.pg-produto .label label {
		display: block;
		width: 100%;
		font-weight: initial;
		margin-bottom: 10px;
	}
	.pg-produto .variations select {
		border: 1px solid #f28386;
		background: #f28386;
		color: #fff;
		padding: 3px;
		width: 100%;
		font-family: var(--fontReleway);
		font-size: 14px;
	}
	.pg-produto a.reset_variations {
		padding: 4px;
		background: rgba(255, 0, 0, 0.65);
		border-radius: 3px;
		margin-top: 10px;
		display: block!important;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
	}
	.pg-produto span.woocommerce-Price-amount.amount {
		display: inline-block; 
		vertical-align: middle;
		font-size: 32px;
		font-family: var(--fontRobotoCondedesed);
		font-weight: 500;
		color: #f28383;
		margin-top: 10px;
	}
	.pg-produto .product_meta {
		display: none!important;
	}
	.pg-produto p.stock.in-stock {
		margin-bottom: 0;
		color: #0a7612;
		font-size: 16px;
		font-family: var(--fontReleway);
	}
	.pg-produto .screen-reader-text {
		overflow: hidden;
		position: initial!important;
		width: auto;
		height: auto;
		display: inline-block;
		font-weight: initial;
		font-size: 19px;
		color: #f28383;
		border-radius: 0;
		text-align: left;
		font-family: var(--fontRobotoCondedesed);
		padding: 5px 5px 5px 0;
	}
	.pg-produto  .quantity .qty{
		text-align: center!important;
		vertical-align: top!important;
		margin-top: 8px!important;
		margin-left: 10px!important;
		width: initial!important;
		border: 1px solid #f28386!important;
		color: #f28386!important;
	}
	.pg-produto button.single_add_to_cart_button {
		width: 100%;
		max-width: 200px;
		text-transform: uppercase;
		font-family: var(--fontOswald);
		letter-spacing: 1px;
		font-size: 24px!important;
		font-weight: 300!important;
		background: #f28386!important;
		border-radius: 0!important;
		padding: 16px 14px!important;
	}
	.pg-produto button.single_add_to_cart_button::before{
		background: url(../img/imagem-btnComprar.png);
		display: block;
		content: "";
		width: 19px;
		height: 30px;
		position: absolute;
		right: 19px;
		background-size: cover!important;
		background-position: center!important;
		top: 13px;
		transition: All .5s ease;
		-webkit-transition: All .5s ease;
		-moz-transition: All .5s ease;
		-o-transition: All .5s ease;
	}
	.pg-produto button.single_add_to_cart_button:hover::before{
		background: url(../img/iconComprarHover.png);
		transition: All .5s ease;
		-webkit-transition: All .5s ease;
		-moz-transition: All .5s ease;
		-o-transition: All .5s ease;
	}
	.pg-produto button.single_add_to_cart_button.disabled::before{
		opacity: 0;
	}
	.comments-area{
		max-width: 1200px;
		margin: 0 auto;
	}	
	.comments-area h3, .h3, .comments-title{
		font-family: var(--fontRobotoCondedesed);
		color: var(--rosaPrincipal);
		font-size: 40px;
		text-transform: uppercase;
		font-weight: bold;
	}
	.comments-area label{
		font-family: var(--fontOswald);
		letter-spacing: 1px;
		font-weight: 400;
		color: #000;
		font-size: 18px;
	}
	.comments-area input[type="text"],.comments-area input[type="email"],.comments-area input[type="url"], .comments-area textarea{
		border: none;
		outline: none;
		background: transparent;
		border: 1px solid #f28383;
		padding: 10px;
		border-radius: 3px;
		color: #000;
		height: 40px;
		outline: none;
		display: block;
		width: 100%;

	}
	.comments-area textarea{
		height: 120px;
		max-height: 120px;
		min-width:100%;
	}
	.navigation.post-navigation{
		display: none
	}

@media(max-width: 1200px){
	.pg-produto .container {
		width: 100%;
	}
	.pg-produto .produto .descircaoProduto {
		padding-bottom: 0;
	}
	.pg-produto .produto .descircaoProduto .breveDescricaoProduto {
		padding-top: 0;
	}
	.pg-produto .produto .compartilharProduto {
		display: block;
		margin-top: 20px;
	}
	.pg-produto .produto .compartilharProduto ul.listaRedesSociais {
		padding-left: 0;
	}
}
@media(max-width: 1100px){
	.pg-produto .produto .descircaoProduto {
		padding-bottom: 0;
	    padding: 0 10px;
	}
	.pg-produto .produto .compartilharProduto {
		margin-top: 12px;
	    padding: 0 10px;
	}
	.pg-produto .produto .compartilharProduto ul.listaRedesSociais {
		padding-left: 0;
	}
	.pg-produto .produto .descircaoProduto .breveDescricaoProduto {
		padding-top: 0;
	}
	.pg-produto .produto .botaoComprar {
		padding-left: 10px;
	}
	.pg-produto .produto .descircaoProduto .tamanhoProduto {
		padding-top: 0;
	}
	.pg-produto .produto .descircaoProduto .tamanhoProduto span {
		margin-top: 0;
	}
}
@media(max-width: 991px){
	.pg-produto .produto .galeria {
		display: none;
	}
	.pg-produto .produto .galeriaResponsiva {
		display: block!important;
    	width: 100%;
	}
	.pg-produto .produto .galeriaResponsiva .item {
	    width: 100%;
	    height: auto;
	    max-width: 150px;
	    padding: 0 2px;
	    margin-top: 10px;
	}
	.pg-produto .produto .galeriaResponsiva .item img{
	    width: 100%;
    	height: auto;
	}
	.pg-produto .produto .compartilharProduto {
		display: inline-block;
	}
	.pg-produto	.produto .imgImagemDestacada {
		height: auto;
	}
	.pg-produto section.produtosRelacionados h6:before, .pg-produto section.produtosRelacionados h6:after {
		width: 34%;
	}
	.pg-produto section.produtosRelacionados h6 {
		font-size: 35px;
	}
}
@media(max-width: 768px){
	.pg-produto .produto .imgImagemDestacada {
		margin: 0 auto;
	}
	.pg-produto .produto .descircaoProduto {
		padding: 0;
	    margin-top: 30px;
	}
	.pg-produto .produto .botaoComprar {
		padding-left: 0;
	}
	.pg-produto .produto .compartilharProduto {
		padding: 0;
	}
	.pg-produto .produto .descircaoProduto h1 {
		font-size: 30px;
		font-weight: 400!important;
	}
	.pg-produto .produto .descircaoProduto .precoProduto strong {
		font-size: 28px;
		font-weight: 400;
	}
	.pg-produto .produto .descircaoProduto .precoProduto span {
	    font-size: 20px;
	}
	.pg-produto section.detalhesProduto h6 {
		font-size: 30px;
		text-align: center;
	}
	.pg-produto	.produto .descricaoCores {
		width: 100%;
		max-width: 290px;
		margin: 0 auto;
	}
	.pg-produto .produto .descircaoProduto .nomeProduto , .pg-produto .produto .descircaoProduto .precoProduto,.pg-produto .produto .compartilharProduto{
		display: block;
		text-align: center;
		max-width: 100%
	}
	.pg-produto .produto .descircaoProduto .coresProduto, .pg-produto .produto .descircaoProduto .tamanhoProduto,.pg-produto .produto .descircaoProduto .breveDescricaoProduto {
		text-align: center;
	}
	.pg-produto .produto .botaoComprar {
		display: block;
		margin: 20px auto 0;
	}
	.pg-produto section.produtosRelacionados h6:before, .pg-produto section.produtosRelacionados h6:after {
    	width: 30%;
	}
	.pg-produto section.produtosRelacionados h6 {
		font-size: 32px;
	}
}
@media(max-width: 610px){
	.pg-produto .produto .descircaoProduto .nomeProduto {
	    vertical-align: top;
	}
	.pg-produto .produto .descircaoProduto .nomeProduto h1 {
		font-size: 24px;
	}
	.pg-produto .produto .descircaoProduto .precoProduto {
		vertical-align: initial;
	}
	.pg-produto .produto .descircaoProduto .precoProduto strong {
		font-size: 25px;
	}
	.pg-produto .produto .descircaoProduto .precoProduto span {
		font-size: 17px;
	}
	.pg-produto .produto .descircaoProduto .coresProduto span {
		font-size: 24px;
	}
	.pg-produto .produto .descircaoProduto .coresProduto ul li span {
		width: 22px;
		height: 22px;
	}
	.pg-produto .produto .descircaoProduto .tamanhoProduto span,.pg-produto section.detalhesProduto h6 {
		font-size: 24px;
	}
	.pg-produto .produto .descircaoProduto .tamanhoProduto ul li span {
		width: 22px;
		height: 22px;
		line-height: 22px;
	}
	.pg-produto section.produtosRelacionados h6:before, .pg-produto section.produtosRelacionados h6:after {
    	width: 30%;
	}
	.pg-produto section.produtosRelacionados h6:before, .pg-produto section.produtosRelacionados h6:after {
    	width: 25%;
	}
	.pg-produto section.produtosRelacionados h6 {
		font-size: 28px;
	}
}
@media(max-width: 540px) {
	
}
@media(max-width: 425px){
	.pg-produto section.produtosRelacionados h6:before, .pg-produto section.produtosRelacionados h6:after {
	    width: 20%;
	}
}
@media(max-width: 320px){

}


