*{ 
	margin: 0;
	padding:0;
}

.pg-quem-somos {

}
	.pg-quem-somos nav {
		display: block;
	    width: 100%;
	    text-align: left;
	    margin: 0 auto;
	    padding-top: 30px;
	    max-width: 1100px;
	}
		.pg-quem-somos nav a {
			font-size: 18px;
			color: #222222b5;
			display: inline-block;
			text-decoration: none;
			position: relative;
			margin-right: 25px;
			font-weight: 200;
			font-family: var(--fontreleway);
		}
		.pg-quem-somos nav a:last-child i {
				display: none;
			}
				.pg-quem-somos nav a i {
					display: block;
					font-size: 23px;
					position: absolute;
					width: 20px;
					top: 2px;
					right: -30px;
				}
					.pg-quem-somos nav a.selecionado {
						color: var(--pretoPrincipal);
						font-weight: 500;
					}
	.pg-quem-somos .banner-principal {

	}
		.pg-quem-somos .banner-principal img {
		    width: 100%;
		    max-width: 1140px;
		    margin: 0 auto;
		    display: block;
		}
	.pg-quem-somos .primeiro-texto {
        width: 100%;
        max-width: 935px;
	    margin: 60px auto;
	    font-family: var(--fontRobotoCondedesed);
	    color: black;
	    border: 5px solid var(--rosaPrincipal);
     	padding: 30px 10px;
        box-shadow: 18px 18px 0px 0px var(--rosaPrincipal);
	}
		.pg-quem-somos .primeiro-texto p {
	        text-align: center;
    		font-size: 28px;
		}
			.pg-quem-somos .primeiro-texto p strong {
				font-weight: 600;
			}
			.pg-quem-somos .primeiro-texto p em {
			    font-weight: 100;
    			font-style: italic;
			}
	.pg-quem-somos .atributos {
	    transform: skewY(-21deg);
	}
		.pg-quem-somos .atributos .modelo-atributos {
			transform: skewY(21deg);		}
			.pg-quem-somos .atributos .modelo-atributos figure {

			}
				.pg-quem-somos .atributos .modelo-atributos figure img {
					width: 100%;
			        max-width: 270px;
				    margin: 0 auto;
				    display: block;
				}
			.pg-quem-somos .atributos .modelo-atributos ul {

			}
				.pg-quem-somos .atributos .modelo-atributos ul li {
				    font-family: var(--fontOswald);
				    font-size: 28px;
				    font-weight: 300;
				    line-height: 45px;
				    letter-spacing: 2px;
				}
	.pg-quem-somos .frase-destaque {
        background: #ca1f7c;
	    padding: 15px 0px 98px;
	    transform: skewY(-21deg);
	    position: relative;
	    bottom: 184px;
	    width: 100%;
	}
		.pg-quem-somos .frase-destaque .frase-modelos {

		}
		.pg-quem-somos .frase-destaque .correctionSkew {
		    transform: skewY(21deg);
		}
			.pg-quem-somos .frase-destaque .frase-modelos .frase {
	            text-align: center;
               	margin: 250px auto 50px;
			    width: 100%;
			    max-width: 560px;
			    display: block;
			}
				.pg-quem-somos .frase-destaque .frase-modelos .frase p {
		            color: white;
				    font-family: var(--fontOswald);
				    font-weight: 300;
				    font-size: 150px;
				    letter-spacing: 7px;
				    line-height: 130px;			
				}
				.pg-quem-somos .frase-destaque .frase-modelos .frase .p2 {
		            font-size: 94px;
				    letter-spacing: 5px;
				    line-height: 65px;
				}
				.pg-quem-somos .frase-destaque .frase-modelos .frase .p3 {
			        font-size: 48px;
				    letter-spacing: 9px;
				    line-height: 50px;
				}
				.pg-quem-somos .frase-destaque .frase-modelos .frase .p4 {
	                font-size: 44px;
				    letter-spacing: 1px;
				    line-height: 18px;
				}
			.pg-quem-somos .frase-destaque .frase-modelos .imagens {

			}
				.pg-quem-somos .frase-destaque .frase-modelos .imagens .modelo {

				}

					.pg-quem-somos .frase-destaque .frase-modelos .imagens .modelo .imagem {

					}
				.pg-quem-somos .frase-destaque .frase-modelos .imagens .modelo2 {
					text-align: right;
				}
					.pg-quem-somos .frase-destaque .frase-modelos .imagens .modelo2 .img-modelo2 {
	        	   		width: 100%;
						max-width: 470px;
					}
				.pg-quem-somos .frase-destaque .frase-modelos .imagens .modelo3 {

				}
					.pg-quem-somos .frase-destaque .frase-modelos .imagens .modelo3 .img-modelo3 {
			            width: 100%;
					    max-width: 410px;
					    position: absolute;
				        top: 422px;
						right: 172px;
					}
	.pg-quem-somos .segundo-texto {
		width: 100%;
	    max-width: 935px;
	    margin: 60px auto;
	    font-family: var(--fontRobotoCondedesed);
	    color: black;
	    border: 5px solid var(--rosaPrincipal);
	    padding: 30px 10px;
	    box-shadow: 18px 18px 0px 0px var(--rosaPrincipal);
	}
		.pg-quem-somos .segundo-texto p {
		    text-align: center;
    		font-size: 28px;
		}
			.pg-quem-somos .segundo-texto p .strong {
			    font-weight: 600;
			    font-size: 32px;
			    line-height: 22px;
			}

@media(max-width: 1199px) {

}

@media(max-width: 991px) {
	.pg-quem-somos .primeiro-texto p {
	    text-align: center;
	    font-size: 24px;
	}
	.pg-quem-somos .frase-destaque {
	    position: relative;
	    bottom: 138px;
	}
	.pg-quem-somos .frase-destaque .frase-modelos .imagens .modelo2 .img-modelo2 {
	    max-width: 379px;
	}
	.pg-quem-somos .frase-destaque .frase-modelos .imagens .modelo3 .img-modelo3 {
	    max-width: 350px;
	    position: absolute;
	    top: 339px;
	    right: 133px;
	}
	.pg-quem-somos .frase-destaque .frase-modelos .frase {
	    margin: 190px auto 50px;
	}
	.pg-quem-somos .frase-destaque .frase-modelos .frase p {
	    font-size: 140px;
	}
	.pg-quem-somos .frase-destaque .frase-modelos .frase .p2 {
	    font-size: 85px;
	}
	.pg-quem-somos .frase-destaque .frase-modelos .frase .p3 {
	    font-size: 44px;
	}
	.pg-quem-somos .frase-destaque .frase-modelos .frase .p4 {
	    font-size: 42px;
	}
	.pg-quem-somos .segundo-texto p {
	    font-size: 23px;
	}

}

@media(max-width: 950px) {
	.pg-quem-somos .primeiro-texto p {
	    font-size: 22px;
	}
	.pg-quem-somos .frase-destaque .frase-modelos .frase p {
    	font-size: 125px;
	    line-height: 118px;
	}
	.pg-quem-somos .frase-destaque .frase-modelos .frase .p2 {
    	font-size: 78px;
	}
	.pg-quem-somos .frase-destaque .frase-modelos .frase .p3 {
    	font-size: 38px;
	}
	.pg-quem-somos .frase-destaque .frase-modelos .frase .p4 {
    	font-size: 38px;
	}
	.pg-quem-somos .frase-destaque .frase-modelos .imagens .modelo3 .img-modelo3 {
		top: 320px;
	    right: 117px;
	}
}

@media(max-width: 900px) {
	.pg-quem-somos .frase-destaque .frase-modelos .frase p {
	    font-size: 102px;
	    line-height: 88px;
	}
	.pg-quem-somos .frase-destaque .frase-modelos .frase .p2 {
    	font-size: 62px;
	 	letter-spacing: 5px;
 	    line-height: 38px;
	}
	.pg-quem-somos .frase-destaque .frase-modelos .frase .p3 {
    	font-size: 34px;
    	letter-spacing: 6px;
	}
	.pg-quem-somos .frase-destaque .frase-modelos .frase .p4 {
    	font-size: 30px;
	}
	.pg-quem-somos .frase-destaque .frase-modelos .imagens .modelo2 .img-modelo2 {
    	max-width: 330px;
	}
	.pg-quem-somos .frase-destaque .frase-modelos .imagens .modelo3 .img-modelo3 {
	    top: 288px;
	    right: 112px;
        max-width: 310px;
	}
	.pg-quem-somos .segundo-texto p .strong {
	    font-size: 28px;
	    line-height: 20px;
	}
	.pg-quem-somos .segundo-texto p {
    	font-size: 20px;
	}
}

@media(max-width: 790px) {
	.pg-quem-somos .frase-destaque .frase-modelos .imagens .modelo2 .img-modelo2 {
    	max-width: 280px;
	}
	.pg-quem-somos .frase-destaque .frase-modelos .imagens .modelo3 .img-modelo3 {
	    top: 250px;
	    right: 100px;
	    max-width: 282px;
	}
	.pg-quem-somos .frase-destaque .frase-modelos .frase {
    	margin: 150px auto 50px;
	}
}

@media(max-width: 767px) {

	.pg-quem-somos nav {
	    max-width: 660px;
	}
	.pg-quem-somos .banner-principal img {
	    max-width: 660px;
	}
	.pg-quem-somos .primeiro-texto {
	    max-width: 650px;
	    margin: 55px auto;
	}
	.pg-quem-somos .primeiro-texto p {
    	font-size: 20px;
	}
	.pg-quem-somos .atributos .modelo-atributos ul {
	    background: #ca1f7c;
	    transform: skewY(-21deg);
	    margin: 0px auto;
	    position: relative;
	    bottom: 58px;
	}
	.pg-quem-somos .atributos .modelo-atributos ul li {
	    display: inline-block;
	    transform: skewY(21deg);
	    margin: 23px auto;
	    position: relative;
	    left: 145px;
	}
	.pg-quem-somos .frase-destaque {
    	bottom: 60px;
	}
	.pg-quem-somos .frase-destaque .frase-modelos .frase {
    	margin: 40px auto 50px;
	}
	.pg-quem-somos .frase-destaque .frase-modelos .imagens .modelo2 .img-modelo2 {
    	max-width: 280px;
	}
	.pg-quem-somos .frase-destaque .frase-modelos .imagens .modelo3 .img-modelo3 {
	    top: 99px;
	    right: 303px;
	    max-width: 279px;
	}
	.pg-quem-somos .segundo-texto {
	    margin: 100px auto;
        max-width: 650px;
	}
	.pg-quem-somos .segundo-texto p {
    	font-size: 20px;
	}
	
}
@media(max-width: 425px) {
	.pg-quem-somos .frase-destaque{
    	transform: skewY(0deg);
	}
	.pg-quem-somos .atributos .modelo-atributos ul{
	    transform: skewY(0deg);
	}
	.pg-quem-somos .atributos .modelo-atributos ul li{
		transform: skewY(0deg); 
	    margin: 0px auto;
	    left: 30px;
	}
	.pg-quem-somos .frase-destaque .correctionSkew{
		transform: skewY(0deg);
	}
	.pg-quem-somos .frase-destaque .frase-modelos .imagens .modelo3 .img-modelo3{
		top: 170px;
        right: 160px;
        max-width: 245px;
	}
	.pg-quem-somos .frase-destaque .frase-modelos .frase{
		margin: 0 auto 50px;
	}
	.pg-quem-somos .frase-destaque .frase-modelos .frase p{
		font-size: 50px;
        line-height: 88px;
	}
	.pg-quem-somos .frase-destaque .frase-modelos .frase .p2{
		font-size: 30px;
	    letter-spacing: 5px;
	    line-height: 38px;
	}
	.pg-quem-somos .frase-destaque .frase-modelos .frase .p3{
		font-size: 15px;
        letter-spacing: 6px;
	}
	.pg-quem-somos .frase-destaque .frase-modelos .frase .p4{
	   font-size: 15px;

	}
	.pg-quem-somos .atributos{
		transform: skewY(0deg);
	}
	.pg-quem-somos .atributos .modelo-atributos ul{
		transform: skewY(-21deg);
	}
	.pg-quem-somos .frase-destaque .frase-modelos .frase {
    margin: 0 auto 10px;
	}
}



@media(max-width: 320px) {
 	.pg-quem-somos .frase-destaque .frase-modelos .imagens .modelo2 .img-modelo2{
 		max-width: 208px;
 	}
 	.pg-quem-somos .frase-destaque .frase-modelos .imagens .modelo3 .img-modelo3 {
    top: 150px;
    right: 135px;
    max-width: 166px;
   }
   .pg-quem-somos .frase-destaque .frase-modelos .frase p{
   	font-size: 30px;
   }
}