/*var(--pretoPrincipal);

 var(--rosaPrincipal);*/


.categoria{
	color: var(--rosaPrincipal);
	margin-top: 20px;
}

.categoria .filtro{
	width: 100%;
	border: solid 3px var(--rosaPrincipal);
    text-align: center;
    padding: 15px;
    display: none;
}
.categoria .filtro:hover{
	background-color: var(--rosaPrincipal);
   
}
.categoria .filtro a{
	text-decoration: none;
	cursor: pointer;
	font-size: var(--fontSizepTitulo); 
    color: var(--cinzaPrincipal);
}
.categoria .filtro a:hover{
	color: #fff;
}
	.categoria .filtros{
		max-width: 250px;
        padding: 10px;
        margin: 0 auto;
	}

		.categoria .filtros h3{
			margin-bottom: 40px;
            text-transform: uppercase;
            color: var(--pretoPrincipal);
		    font-size: 24;
		    text-align: center;
		}

		.categoria .filtros ul,li{
			margin: 0;
		    padding: 0;
		    border: 0;
		    outline: none;
		    list-style: none;
		}
			.categoria .filtros ul .filtros-titulo-pai {
				border: solid 3px var(--rosaPrincipal);
    			color: var(--pretoPrincipal);
			}
				
				.categoria .filtros ul .filtros-titulo-pai h5{
				   font-weight: 700;
                   font-size: 15px;
                   text-transform: uppercase;
                   color: var(--cinzaPrincipal);
                   padding: 0 3px;


				}
				.categoria .filtros ul .filtros-titulo-pai h5 i{
				    padding: 0 10px;

				}
				
			.categoria .filtros ul  .lista-filtro-filho{
				margin-bottom: 20px;
			}

				.categoria .filtros ul  .lista-filtro-filho .filho-item{
					display: block;
					padding-top: 5px;		
				}

					.categoria .filtros ul  .lista-filtro-filho .filho-item ul{
						border: 1px solid transparent;
    					border-radius: 20px;
						
					}
						.categoria .filtros ul  .lista-filtro-filho .filho-item ul:hover{
							background-color: var(--rosaPrincipal) ;
							color: #fff;
							border-color: var(--rosaPrincipal);
						}
						.categoria .filtros ul  .lista-filtro-filho .filho-item ul li{
						   padding-left: 15px;
  							    
						}
							.categoria .filtros ul  .lista-filtro-filho  .filho-item  ul li input{
							    cursor: pointer;
							}
							 .categoria .filtros ul  .lista-filtro-filho  .filho-item  ul li input[type=checkbox]{
							 	display: none;
							}
							.categoria .filtros ul  .lista-filtro-filho  .filho-item ul li  input[type=checkbox]  + label{
								display:inline-block;
							    width: 100%;
    							max-width: 192px;
    							cursor: pointer;

							    
							}
							.categoria .filtros ul  .lista-filtro-filho  .filho-item ul li label{
							    font-weight: 400;
							    font-size: 14px;					

							}
								.categoria .filtros ul  .lista-filtro-filho  .filho-item ul li label span{
/*									color: var(--rosaPrincipal);
*/									font-weight: 700;			
								}
									.categoria .filtros ul  .lista-filtro-filho  .filho-item ul li label span:hover{
													
									}

 .modal-filtro{ 
     	background-color: #f2838380;
	    padding: 10px 4px;
	    display: inline-block;
	    width: 100%;
	    height: 100%;
	    font-size: 15px;
	    position: fixed;
	    top: 0;
        } 
        .modal-filtro .filtros{ 
        	max-width: 456px;
        	background-color: #fff;
        	overflow: scroll;
        	overflow-x: hidden;
        	 max-height: 604px;
        }

		.modal-filtro .filtros h3{
			margin-bottom: 40px;
            text-transform: uppercase;
            color: var(--pretoPrincipal);
		    font-size: 24;
		    text-align: center;
		}

		.modal-filtro .filtros ul,li{
			margin: 0;
		    padding: 0;
		    border: 0;
		    outline: none;
		    list-style: none;
		}
			.modal-filtro .filtros ul .filtros-titulo-pai {
				border: solid 3px var(--rosaPrincipal);
    			color: var(--pretoPrincipal);
			}
				
				.modal-filtro .filtros ul .filtros-titulo-pai h5{
				   font-weight: 700;
                   font-size: 15px;
                   text-transform: uppercase;
                   color: var(--cinzaPrincipal);
                   padding: 0 3px;


				}
				.modal-filtro .filtros ul .filtros-titulo-pai h5 i{
				    padding: 0 10px;

				}
				
			.modal-filtro .filtros ul  .lista-filtro-filho{
				margin-bottom: 20px;
			}

				.modal-filtro .filtros ul  .lista-filtro-filho .filho-item{
					display: block;
					padding-top: 5px;		
				}

					.modal-filtro .filtros ul  .lista-filtro-filho .filho-item ul{
						border: 1px solid transparent;
    					border-radius: 20px;
						
					}
						.modal-filtro .filtros ul  .lista-filtro-filho .filho-item ul:hover{
							background-color: var(--rosaPrincipal) ;
							color: #fff;
							border-color: var(--rosaPrincipal);
						}
						.modal-filtro .filtros ul  .lista-filtro-filho .filho-item ul li{
						   padding-left: 15px;
  							    
						}
							.modal-filtro .filtros ul  .lista-filtro-filho  .filho-item  ul li input{
							    cursor: pointer;
							}
							 .modal-filtro .filtros ul  .lista-filtro-filho  .filho-item  ul li input[type=checkbox]{
							 	display: none;
							}
							.modal-filtro .filtros ul  .lista-filtro-filho  .filho-item ul li  input[type=checkbox]  + label{
								display:inline-block;
							    width: 100%;
    							max-width: 192px;
    							cursor: pointer;

							    
							}
							.modal-filtro .filtros ul  .lista-filtro-filho  .filho-item ul li label{
							    font-weight: 400;
							    font-size: 14px;					

							}
								.modal-filtro .filtros ul  .lista-filtro-filho  .filho-item ul li label span{
/*									color: var(--rosaPrincipal);
*/									font-weight: 700;			
								}
									.modal-filtro .filtros ul  .lista-filtro-filho  .filho-item ul li label span:hover{
													
									}
	.modal-filtro .filtros .fecharModalSideBar {
      position: absolute;
      top: 2%;
      right: 2%;
      width: 30px;
      height: 30px;
      color: #fff;
      font-size: 30px;
    }
    .modal-filtros .filtros .fecharModalSideBar:hover {
      cursor: pointer;
      color: #FF0000;
      transition:color .5s ;
      -webkit-transition:color .5s ;
      -moz-transition:color .5s ;
      -o-transition:color .5s ;
    }

	


@media (max-width: 991px) {
	.categoria .filtro{

		display: block;
	}
	.categoria .filtros{

		display: none;
	}

	.abrirFiltros{
		display: block!important;
	}
	.categoria .filtros h3{
		margin-bottom: 16px;

	}
	section.widget h2::before{
		display: none;
	}
}
@media(max-width: 767px){
	h2.widget-title {
		padding: 10px!important;
	}
	aside {
		padding: 20px;
	}
	section.spotsProdutos {
		padding: 0 20px;
	}
}


/* EXTRAS */
	h2.widget-title {
		font-size: 16px;
		text-transform: uppercase;
		text-align: center;
		padding: 4px;
		border: 2px solid #f28383;
		color: #000;
		font-family: var(--fontRobotoSlab);
		margin: 10px 0;
	}
	.woocommerce .widget_price_filter .price_slider_amount .button {
		float: initial;
		width: 100%;
		background: #f28383;
		border: 2px solid #f28383;
		border-radius: 0;
		font-family: var(--fontreleway);
		font-size: 15px;
		text-transform: uppercase;
		padding: 5px 0;
		color: #fff;
	}
	.woocommerce .widget_price_filter .price_slider_amount .button:hover{
		color: #f28383;
		background: #fff;
	}
	li.cat-item a, li.woocommerce-widget-layered-nav-list__item.wc-layered-nav-term a {
		text-decoration: none;
		display: block;
		text-align: left;
		color: var(--rosaPrincipal);
		font-weight: 700;
		padding: 4px!important;
		padding-left: 15px!important;
		text-transform: uppercase;
		font-family: var(--fontrobotoslab);
		border-radius: 12px;
	}
	li.cat-item a:hover, li.woocommerce-widget-layered-nav-list__item.wc-layered-nav-term a:hover{
		background: var(--rosaPrincipal);
		color: #fff;
	}
	span.count {
		display: none;
	}
	.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item--chosen a::before{
		color: red;
	}
	li.woocommerce-widget-layered-nav-list__item.wc-layered-nav-term a:hover::before{
		color: #fff;
	}
	.woof_products_top_panel li span{
		display: none!important;
	}
	.woof_products_top_panel{
	    margin: 5px 0 0px 0!important;
	}
	aside{
		padding-bottom: 15px;
	}
	.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content{
	    background-color: #222222;
	}
	.woocommerce .widget_price_filter .ui-slider .ui-slider-range{
		background-color: #f28383;
	}
	.woocommerce .widget_price_filter .ui-slider .ui-slider-handle{
		background-color: #f28383;
	}
	.woocommerce .woocommerce-result-count {
		margin-bottom: 0;
		margin-top: 7px;
		font-size: 17px;
		text-align: center;
		padding: 0 20px;
		color: #000;
		font-family: var(--fontRobotoSlab);
	}
	.woocommerce .woocommerce-ordering select {
		vertical-align: top;
		outline: none;
		background: transparent;
		color: #222222;
		padding: 7px;
		border: 2px solid #f28383;
		font-family: var(--fontrobotocondedesed);
		font-size: 15px;
	    -webkit-appearance: none;
        padding-right: 25px;
	}
	section.widget h2::before {
		content: "";
		font-family: 'FontAwesome';
		position: absolute;
		left: 20px;
	}
	section#woocommerce_price_filter-2 h2::before{
		content: "\f155";
	}
	section#woocommerce_product_categories-2 h2::before{
		content: "\f0ca";
	}
	section#woocommerce_layered_nav-2 h2::before{
		content: "\f53f";
		font-family: 'Font Awesome 5 Free';
		font-weight: 900;
	}
	section#woocommerce_layered_nav-4 h2::before{
		content: "\f162";
	}
	.woocommerce .woocommerce-ordering::before{
		content: "\f078";
		display: block;
		font-family: FontAwesome;
		font-style: normal;
		position: absolute;
		right: 8px;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		font-size: 18px;
	}
