/*

Theme Name: Amanda Karoline
Theme URI: http://amandakaroline.com.br
Author: HC Desenvolvimentos
Author URI: http://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: amandakaroline
Tags: Modelo, Maquiagem, Fotos, Portfólio, Preto.

--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA
*/
/*VARIÁVEIS*/

/*MENU DE TOPO*/
@import url("topo.css");


/*MENU DE CATEGORIA*/
@import url("menuCategoria.css");

/*MENU DE CATEGORIA*/
@import url("menuCategoria.css");

/*CARROSSEL DE DETSAQUE*/
@import url("carrosselDestaque.css");

/* MOSAICO A*/
@import url("mosaico_A.css");

/* BANNER BENEFICIOS*/
@import url("bannerBeneficios.css");

/*BANNER DESTAQUE*/
@import url("bannerDestaque.css");

/*POSTS BLOG*/
@import url("carrosselPostsBlog.css");

/*CARROSSEL DE PARCEIROS*/
@import url("carrosselParceria.css");

/*PÁGINA DE PRIVACIDADE*/
@import url("pgPrivacidade.css");

/*PÁGINA QUEM SOMOS*/
@import url("pgQuemSomos.css");

/*PÁGINA DE MARCAS*/
@import url("pgMarcas.css");

/*CARROSSEL DE PARCEIROS*/
@import url("footer.css");

/*SPOT*/
@import url("spotProduto.css");




:root{
	
	/* CORES */
	--rosaPrincipal:#f28383;
	--pretoPrincipal:#222222;
	--cinzaPrincipal:#777373;
	--hoverBtnComprar:#e26767;
	--rosaHoverBotao:#f28383c9;


	/*FONTS*/
	--fontRobotoCondedesed:'Roboto Condensed', sans-serif;
	--fontRobotoSlab:'Roboto Slab', serif;
	--fontReleway:'Raleway', sans-serif;
	--fontOswald:'Oswald', sans-serif;


	/*COMO USAR AS VARIÁVEIS*
		color: var(--fontreleway);
	*/

	/*TAMANHO SPOT*/
	--fontSizepPreco:30px;
	--fontSizepPrecoResponsivo:15px;
	--fontSizepTitulo:19px;
	--fontSizeTituloResponsivo:13.5px;
	--fontSizeParcelamento:19px;
	--fontSizeBtnComprar:25px;
	--fontSizeTituloResponsivo:13.5px;


}

/*ESTILOS GERAIS*/
.containerFull{
	width:80%;
	margin: 0 auto;
}
/*BTN COMPRA*/
.btnComprar{
	background: var(--rosaPrincipal);
	position: relative;
	width: 100%;
	max-width: 225px;
	margin: auto;

}
	.btnComprar:before{
		background: url(../img/imagem-btnComprar.png);
		display: block;
		content: "";
		width: 22px;
		height: 37px;
		position: absolute;
		right: 25px;
		background-size: cover!important;
		background-position: center!important;
		top: 4px;	
		transition:All .5s ease;
		-webkit-transition:All .5s ease;
		-moz-transition:All .5s ease;
		-o-transition:All .5s ease;
	}
		.btnComprar:hover:before{
			background: url(../img/iconComprarHover.png);
			transition:All .5s ease;
			-webkit-transition:All .5s ease;
			-moz-transition:All .5s ease;
			-o-transition:All .5s ease;
		}
	.btnComprar:hover{
		background: var(--hoverBtnComprar);
	}
	.btnComprar input[type="submit"]{
		background: transparent;
		border: none;
		color: #fff;
		font-family: var(--fontOswald);
		font-weight: 100;
		font-size: var(--fontSizeBtnComprar);
		text-transform: uppercase;
		padding: 6px 0;
		display: block;
		width: 100%;
		outline:none;
	}






