section.spotsProdutos{

}
	section.spotsProdutos h6{
	
	}
	section.spotsProdutos ul.spots{
		list-style: none;
		padding: 0;
		margin:0;
		text-align: center;
	}
		section.spotsProdutos ul.spots li{
			width: 100%;
			max-width: 23.3%;
			min-width: 200px;
			display: inline-block;
		    margin: 10px 3px 60px;
		}
			section.spotsProdutos ul.spots li a{
	
			}
				section.spotsProdutos ul.spots li figure{
					padding: 0;
					margin: 0;
					height: 380px;
					overflow: hidden;
				}
					section.spotsProdutos ul.spots li figure img{
						display: block;
						width: 100%;
						height: auto;
					}
				section.spotsProdutos ul.spots li h2{
					font-family:var(--fontRobotoSlab);
					font-size: var(--fontSizepTitulo);
					text-transform: uppercase;
					margin: 10px 0 0px;
				}
				section.spotsProdutos ul.spots li .precos{

				}
				section.spotsProdutos ul.spots li .precos{

				}
					section.spotsProdutos ul.spots li .precos .parcelamento{
						color:#7d7c7c;
						font-family: var(--fontRobotoSlab);
						display: block;
						text-align: center;
						font-size: var(--fontSizeParcelamento);
					}
					section.spotsProdutos ul.spots li .precos strong{
						font-family: var(--fontRobotoSlab);
						display: block;
						text-align: center;
						font-size: var(--fontSizepPreco);
						color: var(--rosaPrincipal);
						margin-bottom: 10px;
					}
				section.spotsProdutos ul.spots li .btnComprar{

				}
					section.spotsProdutos ul.spots li .btnComprar input{

					}


@media(max-width: 1199px) {
 section.spotsProdutos ul.spots li figure{
		height: 278px;
	}
}

@media (max-width: 991px) {
	
	section.spotsProdutos ul.spots li h2{
		font-size: var(--fontSizeTituloResponsivo);
	}
	section.spotsProdutos ul.spots li .precos strong{
		font-size: var(--fontSizepPrecoResponsivo);
	}
}




	 h6{
	
	}
	 ul.products{
		list-style: none;
		padding: 0;
		margin:0;
		text-align: center;
	}
		 ul.products li{
			width: 100%;
			max-width: 30.3%;
			min-width: 200px;
			display: inline-block;
			margin: 10px 3px 60px;
			vertical-align: top;
			position: relative;
		}
		ul.products li.desconto{

		}
		ul.products li.desconto::before{
			content: attr(data-desconto)!important;
			position: absolute;
			left: 0;
			color: #fff;
			top: 0;
			width: 70px;
			height: 40px;
			background: url(../img/etiqueta.png);
			background-size: cover!important;
			background-position: center!important;
			text-align: center;
			line-height: 42px;
			-webkit-transform: rotate(3deg);
			-ms-transform: rotate(3deg);
			-o-transform: rotate(3deg);
			transform: rotate(3deg);
			font-family: 'Roboto Slab', serif;
			font-size: 15px;
			font-weight: 600;
			padding-left: 11px;
			padding-top: 1px;
		}
		ul.products li.novo{

		}
		ul.products li.novo::after{
			content: '';
			background: url(../img/etiqueta-novo.png);
			width: 61px;
			height: 62px;
			position: absolute;
			top: -2px;
			left: -4px;
			background-size: cover!important;
			background-position: center!important;
		}
			 ul.products li a{
	
			}
				 ul.products li figure{
					padding: 0;
					margin: 0;
					max-height: 380px;
					overflow: hidden;
				}
					 ul.products li figure img{
						display: block;
						width: 100%;
						height: auto;
					}
				 ul.products li h2{
					font-family:var(--fontRobotoSlab);
					font-size: var(--fontSizepTitulo);
					text-transform: uppercase;
					margin: 10px 0 0px;
					color: #222222;
					font-weight: 500;
				}
				 ul.products li .precos{

				}
				 ul.products li .precos{

				}
					 ul.products li .precos .parcelamento{
						color:#7d7c7c;
						font-family: var(--fontRobotoSlab);
						display: block;
						text-align: center;
						font-size: var(--fontSizeParcelamento);
						font-weight: 300;
						font-size: 16px;
						margin-top: 6px;
					}
					 ul.products li .precos strong{
						font-family: var(--fontRobotoSlab);
						display: block;
						text-align: center;
						font-size: var(--fontSizepPreco);
						color: var(--rosaPrincipal);
						margin-bottom: 10px;
					}
					ul.products li .precos strong.promocao{

					}
						ul.products li .precos strong.promocao b{
							display: block;
							font-size: 15px;
						}
				 ul.products li .btnComprar{

				}
					 ul.products li .btnComprar input{

					}


@media(max-width: 1199px) {
  ul.products li figure{
		height: 278px;
	}
}

@media (max-width: 991px) {
	
	 ul.products li h2{
		font-size: var(--fontSizeTituloResponsivo);
	}
	 ul.products li .precos strong{
		font-size: var(--fontSizepPrecoResponsivo);
	}
}

