/* TOPO */
	header{

	}

  .topo{
    display: block;
    width: 100%;
    top: 0;
    background-color: var(--pretoPrincipal);
    position: relative;
  }
    .topo:before{ 
    	content: "";
		display: block;
		position: absolute;
		background: url(../img/fundo-detalhe.png);
		top: 0;
		width: 100%;
		min-height: 139px;
		background-repeat: no-repeat!important;
		background-attachment: fixed!important;
		-moz-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
		right: 0;
    }
        .topo ul.areaContatoTopo{
            width: 100%;
            text-align: left;
        } 

        .topo ul.areaContatoTopo li{
			display: inline-block;
			position: relative;
			padding-left: 20px;
			margin-right: 15px;
        }
          .topo ul.areaContatoTopo li a{
          	font-family:  var(--fontRobotoCondedesed);
          	font-size: 15px;
          	color: var(--pretoPrincipal);
          	margin: 0;
          	padding: 0;
          	color: #fff;	                
          }
          .topo ul.areaContatoTopo li:last-child a{
          	padding-right: 0;
          }
          	.topo ul.areaContatoTopo li a::before{
          		content: "";
          		font-family: FontAwesome;
          		font-style: normal;
          		font-size: 15px;
          		position: absolute;
          		left: 0;
          		top: 0px;
          	}
          	.topo ul.areaContatoTopo li a.email::before{
          		content: "\f0e0";
          	}
          	.topo ul.areaContatoTopo li a.tel::before{
          		content: "\f095";
          	}
          .topo ul.areaContatoTopo li a:hover{
            	background: none;               
          }
              .topo ul.areaContatoTopo li a i{
                	  font-family: "FontAwesome";             
              }
	
		.topo .logo a{
		        
		}
		    .topo .logo img{
		         
		    }
	          
	    .topo .search{
	    	margin-top: 0;
	    	padding-top: 30px;
	    	position: relative;
	       }      
		    .topo .search form{
		    }
			    .topo .search form .searchTopo{
			    }

				    .topo .search form .searchTopo input[type="text"]{
				    	display: block;
				    	width: 100%;
				    	border: 2px solid;
				    	border-radius: 10px;
				    	height: 30px;
				    	padding: 6px;
				    	padding-left: 9px;
				    	outline: none;
				    	background: #fff;
				    	text-align: right;
				    	padding-right: 35px;
				    }

				     .topo .search form .searchTopo  button{
				     	outline: none;
				     	font-family: "FontAwesome";
				     	position: absolute;
				     	top: 37px;
				     	border: 1px solid;
				     	font-size: 15px;
				     	color: #fff;
				     	background: var(--pretoPrincipal);
				     	border-radius: 100%;
				     	width: 35px;
				     	height: 35px;
				     	right: -8px;
				    }


		 .topo .areaLinksTopo{
			padding-top:15px; 
	    }		    
			.topo .areaLinksTopo .areaLogin{
				text-align: right;
		    }
			    .topo .areaLinksTopo .areaLogin span{
			    	font-size: 16px;
			    	color: #fff;
			    } 
			     .topo .areaLinksTopo .areaLogin small.nomeDisplay{
					font-size: 17px;
			    	color: #fff;
			    	font-weight: bold;
					
					
				  
				} 
			    .topo .areaLinksTopo .areaLogin a{
			    	color: #fff;
				    font-weight: 700;
				}

		.topo .areaCliente{
   			display: inline-block;
		    width: 100%;
		    text-align: right;
		    padding-top: 30px;
	    }
			.topo .areaCliente .carrinhoTopo{
				margin-right: 5px;
				display: inline-block;
				position: relative;
			}
				.topo .areaCliente .carrinhoTopo .areaIcone, .topo .areaCliente .usuarioTopo .areaIcone{

				}
					.topo .areaCliente .carrinhoTopo .areaIcone b{
						position: absolute;
						background: #f28383;
						color: #fff;
						display: block;
						width: 25px;
						text-align: center;
						height: 25px;
						border-radius: 100%;
						border: solid 1px #fff;
						top: 0;
						left: -15px;
					}
					.topo .areaCliente .carrinhoTopo .areaIcone a, .topo .areaCliente .usuarioTopo .areaIcone a{
						border-color: #FFF;
						background: var(--pretoPrincipal);
						display: inline-block;
						width: 46px;
						height: 46px;
						line-height: 50px;
						text-align: center;
						margin-top: 0;
						border-radius: 100%;
						color: #fff;
						outline: none;
						border: 1px solid;
					}	
					.topo .areaCliente  a small{
						position: absolute;
						background: #f28383;
						min-width: 93px;
						text-align: center;
						display: block;
						padding: 10px;
						height: 30px;
						line-height: 13px;
						border-radius: 5px;
						top: 0;
						opacity: 0;	  
						color: #fff;
						left: 50%;
						transform: translateX(-50%);
						transition:All .1s ease;
						-webkit-transition:All .1s ease;
						-moz-transition:All .1s ease;
						-o-transition:All .1s ease; 
					} 
					.topo .areaCliente .areaIcone a:hover small{
						opacity: 1;
						top: -32px;	
						transition:All .1s ease;
						-webkit-transition:All .1s ease;
						-moz-transition:All .1s ease;
						-o-transition:All .1s ease;
					}

						.topo .areaCliente .carrinhoTopo .areaIcone a i, .topo .areaCliente .usuarioTopo .areaIcone a i{
							font-size: 20px;
						} 
						.topo .areaCliente .carrinhoTopo .areaIcone a:hover, .topo .areaCliente .usuarioTopo .areaIcone a:hover{
							background: #fff;
							color: var(--pretoPrincipal); 
						}	

						
						    
			.topo .areaCliente .usuarioTopo{
 				display: inline-block;
 				position: relative;
    		}
		.topo .menuCategoriaDesktop{
			background: #fff;
			margin-top: 13px;
			box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.5);
			position: relative;
			z-index: 3;
		}
			.topo .logoTopo {
				margin-top: 25px;
				margin-bottom: 20px;
			}
				.topo .logoTopo img{
					width: 100%;
					max-width: 140px;
					display: block;
				}
		    .topo .menuCategoriaDesktop .navbar {
				margin-bottom: 0;
				min-height: auto;
				margin-top: 18px;
				max-width: 1143px;
				margin: 0 auto;
				border: none;
		    } 
		       .topo .menuCategoriaDesktop .navbar .navbar-header{
		        float: initial;
	        	width: 100%;
		       } 
		    
		        .topo .menuCategoriaDesktop .navbar .navbar-header nav{
		        	border-top: initial;
			        -webkit-box-shadow: initial;
			        box-shadow: initial
		         
		        }  
		          .topo .menuCategoriaDesktop .navbar .navbar-header nav ul{
		            float: initial;
		            width: 100%;
		            text-align: left;
		            font-size: 0;
		          } 
		            .topo .menuCategoriaDesktop .navbar .navbar-header nav ul li{
		              float: initial;
	             	 display: inline-block;
		            }
		                .topo .menuCategoriaDesktop .navbar .navbar-header nav ul li a{
							font-family: var(--fontRobotoSlab);
							font-size: 15px;
							text-transform: uppercase;
							color: var(--pretoPrincipal);
							padding: 10px 15px;
		                }
			            .topo .menuCategoriaDesktop .navbar .navbar-header nav ul li:hover a{
			                color: #fff;
			                background: var(--pretoPrincipal); 
			                transition:All 0.2s ease;
			                -webkit-transition:All 0.2s ease;
			                -moz-transition:All 0.2s ease;
			                -o-transition:All 0.2s ease;
		                }
		                .topo .menuCategoriaDesktop .navbar .navbar-header nav ul li a:active {
		                    color: var(--pretoPrincipal);
		                }
		                .topo .menuCategoriaDesktop .navbar .navbar-header nav ul li a:focus {
		                    color: var(--pretoPrincipal);
		                    background-color: #fff;
		                }
	.menuContatoTopo {
		position: absolute;
		min-width: 350px;
	}



/* TOPO VERSÃO MOBILE */

  .topo .menu-mobile {
    display: none;
    width: 100%;
    background-color: var(--rosaPrincipal);
    max-height: 143px;
    position: fixed;

  }
 	.topo .menu-mobile .menuCategoriaMobile {
		width: 100%;
		text-align: left;
		margin: 5px 5px 0px 5px;		    

		}

	    .topo .menu-mobile .menuCategoriaMobile .botaoMenu{
	    		margin-right: 5px;
				display: inline-block;
			}
		    .topo .menu-mobile .menuCategoriaMobile .botaoMenu i{
			    line-height: 47px;
			    text-align: center;
			    margin-top: 3px;
			    color: #fff;
			    outline: none;
			    font-size: 36px;
			    cursor: pointer;
		    }			
		.topo  .menu-mobile .menuCategoriaMobile .logoTopo {
		    display: inline-block;    
		}
			.topo  .menu-mobile .menuCategoriaMobile  .logoTopo .areaImg a{
				        
			}
				.topo  .menu-mobile .menuCategoriaMobile .logoTopo .areaImg a img{
				    width: 100%;
					max-width: 104px;
					display: block;
				}
	          
	    .topo .menu-mobile .search{
	    	max-width: 365px;
		    margin: 0 auto;
		    display: none;
	    }   	     
		    .topo .menu-mobile .search form{
		    }
			    .topo .menu-mobile .search form .searchTopo{

			    }   .topo .menu-mobile .search form .searchTopo input[type="text"]{
					    
					    width: 100%;
					    border: 2px solid;
					    height: 38px;
					    padding: 10px;
					    padding-left: 26px;
					    outline: none;
					    background: #fff;
					    margin-bottom: 18px;
				    }
	    .abrirPesquisa{
		    display: block!important;
	    } 

		.topo .menu-mobile .menuLoginTopo{
		 	margin-top: 5px;
	    }		    
			.topo .menu-mobile .menuLoginTopo .areaLogin{
		    }
			    .topo .menu-mobile .menuLoginTopo .areaLogin span{
			    	font-size: 13px;
			    } 
			    .topo .menu-mobile .menuLoginTopo .areaLogin a{
			    	color: #fff;
				    font-weight: 700;
				}

		.topo .menu-mobile .areaCliente{
		    width: 100%;
		    text-align: right;
		    margin: 5px 5px 0px 5px;
		    padding-right: 5px;
		    
		 }
			.topo .menu-mobile .areaCliente .carrinhoTopo{
				margin-right: 5px;
				display: inline-block;
			}
				.topo .menu-mobile .areaCliente .carrinhoTopo .areaIcone{

				}
					.topo .menu-mobile .areaCliente .carrinhoTopo .areaIcone a{
						border-color: #FFF;
					    background: var(--pretoPrincipal);
					    display: inline-block;
					    width: 50px;
					    height: 50px;
					    line-height: 47px;
					    text-align: center;
					    margin-top: 3px;
					    border-radius: 100%;
					    color: #fff;
					    outline: none;
					    border: 2px solid;
					    padding-left: 2px
					}	
						.topo .menu-mobile .areaCliente .carrinhoTopo .areaIcone a i{
							font-size: 22px;
						} 
						.topo .menu-mobile .areaCliente .carrinhoTopo .areaIcone a:hover{
							background: #fff;
							color: var(--pretoPrincipal); 
						}	
           .topo .menu-mobile .areaCliente .usuarioTopo{
 				display: inline-block;
    		}
				.topo .menu-mobile .areaCliente .usuarioTopo .areaIcone{
					border: 1px solid transparent;
	
				}
					.topo .menu-mobile .areaCliente .usuarioTopo .areaIcone a{
						border-color: #FFF;
					    background: var(--pretoPrincipal);
					    display: inline-block;
					    width: 50px;
					    height: 50px;
					    line-height: 47px;
					    text-align: center;
					    margin-top: 3px;
					    border-radius: 100%;
					    color: #fff;
					    outline: none;
					    border: 2px solid;
					}	
						.topo .menu-mobile .areaCliente .usuarioTopo .areaIcone a i{
							font-size: 22px;
						} 

						.topo .menu-mobile .areaCliente .usuarioTopo .areaIcone a:hover{
							background: #fff;
							color: var(--pretoPrincipal); 
						}	  
		
						    
			.topo .menu-mobile  .areaCliente .pesquisaTopo{
 				display: inline-block;
    		}
				.topo .menu-mobile  .areaCliente .pesquisaTopo{
					border: 1px solid transparent;
	
				}
					.topo .menu-mobile .pesquisaTopo .areaIcone  button{
						outline: none;
					    border: 2px solid;
					    font-size: 18px;
					    color: #fff;
					    background: var(--pretoPrincipal);
					    border-radius: 100%;
					    width: 50px;
					    height: 50px;
					}	
						.topo .menu-mobile .pesquisaTopo .areaIcone  button{
							font-size: 22px;
						} 
.menuCategoriaMobile .menuMobile{
			display: none;
			position: relative;
		}
		.menuCategoriaMobile .abrirMenuCategoriaMobile {
		display: block;

	    }
	 .menuCategoriaMobile .menuMobile .fecharMenu{
	 		display: block;
		    width: 100%;
		    max-width: 55px;
		    min-height: 25px;
		    position: absolute;
		    top: 17%;
		    margin-top: -50px;
		    background: #bed4da00;
		    font-size: 13px;
		    color: #fff;
		    text-align: center;
		    outline: none;
		    z-index: 1;
		    left: 4px;
		    border: none;
	    }
		.menuCategoriaMobile .menuMobile .fecharMenu:hover{
				background-color: #e67373;
	            border: 1px solid;
			}

	.menuCategoriaMobile .menuMobile .item-quadro{
			position: relative;
	        width: 100%;
		    background-color: #f28383;
		    border: 1px solid #fff;
		    height: calc(50vh - 0px);

		}
		.menuCategoriaMobile .menuMobile .item-quadro a .caixa-dentro{
					position: absolute;
				    top: 50%;
				    left: 50%;			
				    transform: translate(-50%, -50%);		   
				    width: 80%;
				    text-align: center;
				}
				.menuCategoriaMobile .menuMobile .item-quadro a .caixa-dentro i{
						color: #fff;
					    font-size: 49px;
					}
					.menuCategoriaMobile .menuMobile .item-quadro a .caixa-dentro h5{
						color: #fff;
					    font-size: 21px;
					    font-weight: 300;
					    letter-spacing: 0.03em;

					}
					 

	@media (max-width: 991px) {
		.topo .menu-mobile{
			position: fixed;
		}
		.topo .menu-mobile .pesquisaTopo .areaIcone button{
			width: 40px;
	    	height: 40px;
		}

		.topo .menu-mobile .areaCliente .usuarioTopo .areaIcone a{
			width: 40px;
	    	height: 40px;
	    	line-height: 42px;

		}	.topo .menu-mobile .areaCliente .carrinhoTopo .areaIcone a{
				width: 40px;
			    height: 40px;
			    line-height: 45px;
		}
			.topo .menu-mobile .areaCliente .usuarioTopo .areaIcone a i{
			    font-size: 20px;
			}
			.topo .menu-mobile .menuCategoriaMobile .logoTopo .areaImg a img{
				max-width: 96px;
			}

			.topo .menu-mobile .search{
				padding: 0 10px;
			}
			.topo .menu-mobile{
				display: block;
				z-index: 2;
			}
			.menuCategoria{
				display: none;
			}

	    }



		