.woocommerce nav.woocommerce-pagination {
    text-align: right;
}
.woocommerce nav.woocommerce-pagination ul {
    border: none;
    margin: 0;
}
.woocommerce .woocommerce-pagination ul.page-numbers li, .woocommerce-page .woocommerce-pagination ul.page-numbers li {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background: #ffffff;
    margin: 0 5px;
    color: #f28383;
    border: 1px solid #f28383;
    text-align: center;
}
.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {
    background: #f28383;
    color: #fff;
    border: 1px solid #f28383;
}
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span {
    color: #f28383;
}

nav.woocommerce-MyAccount-navigation ul {
        border-radius: 3px;
    }
    nav.woocommerce-MyAccount-navigation ul li {
        display: block;
        padding: 5px;
        background: #f28383;
        color: #fff;
        padding: 20px 10px;
        border: none;
        margin-bottom: 10px;
        border-radius: 4px;
        
        font-weight: 100;
        transition:All .1s ease;
        -webkit-transition:All .1s ease;
        -moz-transition:All .1s ease;
        -o-transition:All .1s ease;
        
    }
    nav.woocommerce-MyAccount-navigation ul li a {
        text-decoration: none;
        color: inherit;
        display: block;
        font-family: var(--fontRobotoCondedesed);
        font-size: 20px;
    }
    nav.woocommerce-MyAccount-navigation ul li:hover {
        background: #de7777;
        padding-left: 20px;
        transition:All .1s ease;
        -webkit-transition:All .1s ease;
        -moz-transition:All .1s ease;
        -o-transition:All .1s ease;
    }
    nav.woocommerce-MyAccount-navigation ul li:last-child {
         background: #de7777;
    }
    .woocommerce #payment #place_order, .woocommerce-page #payment #place_order{
        background: #f28383!important;
    }
    .woocommerce-checkout .checkout .col-2 h3#ship-to-different-address{
        float: none;
        font-size: 22px;
    }
    .woocommerce-checkout .checkout .col-2 h3#ship-to-different-address label{
        font-weight: initial;
    }
    .woocommerce form .form-row textarea {
        height: 4em!important;
        width: 100%!important;
        max-width: 100%!important;
        max-height: 10em!important;
        border: 1px solid #f28383;
        border-radius: 3px;
        padding: 5px;
        color: #000;
    }
    .woocommerce form .form-row textarea::-webkit-placeholder{
        color: #f28383;
    }
    .woocommerce form .form-row textarea:-moz-placeholder{
        color: #f28383;
    }
    .woocommerce form .form-row textarea::-moz-placeholder{
        color: #f28383;
    }
    .woocommerce form .form-row {
        display: block;
        width: 100%;
    }
    .woocommerce-checkout .select2-container--default .select2-selection--single{
        border: 1px solid #f28383;
        color: #f28383;
    }
    .woocommerce-checkout input,.woocommerce form .form-row input,.woocommerce form .form-row select {
        border: none;
        outline: none;
        background: transparent;
        border: 1px solid #f28383;
        padding: 10px;
        border-radius: 3px;
        color: #000;
        height: 40px;
        outline: none
    }
    .select2-container--default .select2-selection--single{
        border: none;
        outline: none;
        background: transparent;
        border: 1px solid #f28383;
        padding: 10px;
        border-radius: 3px;
        color: #000;
        height: 40px;
        outline: none
    }
    .woocommerce-checkout input:focus,.woocommerce form .form-row input:focus{
        color: #fff;
        background: #de7777;
    } 
    .woocommerce-cart .widget-area, .woocommerce-checkout .widget-area, .woocommerce-account .widget-area {
        display: none!important;
    }
    .woocommerce form .form-row label {
        font-family: var(--fontOswald);
        letter-spacing: 1px;
        font-weight: 400;
        color: #000;
        font-size: 18px;
    }
    .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
        font-size: 18px;
        color: #ffff;
        background-color: #f28383;
        width: 100%;
        max-width: 200px;
        padding: 16px 10px;
        outline: none;
        float: initial!important;
        display: block;
        text-align: center;
    }
    .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover{
        color: #fff;
        background: #de7777;
    }
    .woocommerce form .form-row label.inline{
        display: block;
    }
    .woocommerce-LostPassword.lost_password a{
        color: #000;
        text-decoration: underline;
    }


/* MINHA CONTA */
    .woocommerce-account.woocommerce-page .row .col-sm-2, .woocommerce-checkout.woocommerce-page  .row .col-sm-2,
    .woocommerce-cart  .row .col-sm-2{
        display: none;

    }
    .woocommerce-account.woocommerce-page .row .col-sm-10, .woocommerce-checkout.woocommerce-page  .row .col-sm-10,
    .woocommerce-cart  .row .col-sm-10{
        width: 100%;

    }
    .woocommerce-account.woocommerce-page .menuCategoria ,.woocommerce-checkout.woocommerce-page .menuCategoria,
    .woocommerce-cart .menuCategoria{
        display: none;

    }
    .woocommerce-account.woocommerce-page .entry-content{
        margin-bottom: 100px;
        margin-top: 100px;

    }
   .woocommerce-page h2, .h2{
    font-family: var(--fontRobotoCondedesed);
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
   
   }
    .woocommerce-checkout h3, .h3{
        font-family: var(--fontRobotoCondedesed);
        font-size: 40px;
        text-transform: uppercase;
        font-weight: bold;
   }
    .woocommerce-form__label.woocommerce-form__label-for-checkbox.checkbox span{
         font-family: var(--fontRobotoCondedesed);
        font-size: 40px;
        text-transform: uppercase;
        font-weight: bold;
    }
   .woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register{
    min-height: 400px;
    padding-top: 40px;
   }
   .woocommerce-privacy-policy-text p{
    color: #000;
   }
   .entry-content .woocommerce .woocommerce-MyAccount-content  p{
    font-size: 18px;
    font-family: var(--fontRobotoCondedesed);
    padding: 10px;
   }
   .entry-content .woocommerce .woocommerce-MyAccount-content  a{
        text-decoration: underline;
        color: black;
        font-family: var(--fontRobotoCondedesed);
   }

   .entry-content .woocommerce .woocommerce-MyAccount-content  a:hover{
       color: #de7777;
   }
   .entry-content .woocommerce .woocommerce-MyAccount-content .woocommerce-Button.button{
        color: #fff;
        text-align: center;
        text-decoration: none;
   }
   .woocommerce-info{
    border-top-color: #f28383;
    font-family: var(--fontRobotoCondedesed);
   }
   .woocommerce-info::before{
    color: #f28383;
   }
   .woocommerce-account .addresses .title h3{
        font-family: var(--fontRobotoCondedesed);
        float: inherit;
        text-align: center;
        text-transform: uppercase;
        background: #f28383;
        color: #fff;
        padding: 20px 10px;
        border-radius: 5px;
        font-weight: 600;
   }
   .woocommerce-account .addresses .title .edit {
        float: right;
        float: initial;
        padding: 10px 35px;
        background: red;
        border-radius: 5px;
        background: #de7777;
        color: #fff;
        font-size: 17px;
        margin-top: 3px;
        display: inline-block;
        font-family: var(--fontRobotoCondedesed);
    }
    .woocommerce-account .addresses .title .edit:hover{
        color: #fff;
    }
    address {
        margin-bottom: 20px;
        font-style: normal;
        line-height: 1.42857143;
        font-family: var(--fontRobotoCondedesed);
        font-size: 19px;
        margin-top: 10px;
        color: #000;
        padding: 10px;
    }
    .nomeDisplay{

    }

    /* CHECKOUT */
    .woocommerce-info a{
        background: #f28383;
        color: #fff;
        padding: 10px 15px;
        border-radius: 5px;
        font-size: 18px;
        text-transform: uppercase;
        margin: 10px 0;
        display: inline-block;
        font-family: var(--fontRobotoCondedesed);
        float: right;
    }
    .woocommerce table.shop_table tbody th, .woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th{
        color: #000;
    }
    
    .woocommerce table.shop_table{
        color: #000;
    }
    .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{
        background-color: #f28383;
        background: #f28383;
    }
    .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
        background-color: #f28383;
        background: #f28383;
    }
    .woocommerce-cart table.cart td.actions .coupon .input-text{
        float: initial;
        display: block;
        width: 100%;
        margin: 5px 0;
        border-radius: 5px;
    }
    .woocommerce-page table.cart td.actions .coupon{
        text-align: left;
    }
    .woocommerce-cart .cart-collaterals .shipping-calculator-button{
        background: #f28383;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
    }
    .woocommerce-cart .topo .menuCategoriaDesktop{
        display: none;
    }
    .woocommerce-cart .woocommerce a.button.alt{
         
        display: block;
        width: 100%;
        max-width: 100%;
        float: initial!important;
    }
    .woocommerce-cart button[name="update_cart"]{
        float: right!important;
    }
    .woocommerce-cart .topo .logoTopo {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .woocommerce-cart .topo .areaLinksTopo {
         display: none;
    }
    .woocommerce-cart footer.rodape section.newslletter {
         display: none;
    }
    .woocommerce-cart .topo .search {
         display: none;
    }

    .woocommerce-checkout.woocommerce-page .topo .logoTopo {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .woocommerce-checkout.woocommerce-page .topo .areaLinksTopo {
         display: none;
    }
    .woocommerce-checkout.woocommerce-page footer.rodape section.newslletter {
         display: none;
    }

    .woocommerce.woocommerce-page.woocommerce-js.yith-wcan-free .menuCategoria{
        display: none;
    }
    .woocommerce.woocommerce-page.woocommerce-js.hfeed .menuCategoria{
        display: none;
    }

    @media(max-width: 525px){
        .woocommerce-account.woocommerce-page .entry-content{
            margin-bottom: 20px;
            margin-top: 20px;
        }
    }
